{% extends 'default/base.html' %}

{% block title %} 添加部门 {% endblock %}

{% block assistant-header %} 添加部门 | ADD DepartMent 

    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">机房管理</a></li>
        <li><a href="/accounts/add_department/">添加机房</a></li>
    </ol>


{% endblock %}

{% load bootstrap %}

{% block content %}


<script type="text/javascript">
 window.$ && $(function(){
//验证初始化
    $('.form-horizontal').validator({
        //stopOnError:true,
        //timely: 2,
        theme: "yellow_right_effect",
        showOk: "",
        //自定义规则（PS：建议尽量在全局配置中定义规则，统一管理）
        rules: {

            },
    fields: {
        "department_name":{
            rule: "required;",
            tip: "部门名称必填",
            ok:"",
            msg:{required: "必须填写!"}
        },
        "desc_gid":{
            rule: "required;",
            tip: "部门组必选",
            ok:"",
            msg:{required: "必选!"}
        }
    }
});

});

</script>



<div class="box box-info">
    <div class="box-header with-border">
    请填写下列需求
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
    </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal" method="post" action="" role="form">
        {% csrf_token %}
            {{ uf|bootstrap_horizontal }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                     <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock content %}