{% extends 'default/base.html' %}

{% block title %} 查看部门 {% endblock %}

{% block assistant-header %} 

    部门列表 
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">用户管理</a></li>
        <li><a href="/auth/cmdb_auth_index/">查看部门</a></li>
    </ol>

{% endblock %}

{% block content %}


<div class="box">

    <div class="box-header with-border">
        <h4> 部门详细信息列表 </h4>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>

    <div class="box-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>部门</th>
					<th style="text-align:center">人员</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for k,v in content.items %}
				<tr>
					<td width="200">{{ k }}</td>
					<td>
						{% for t in v.user_list %}
							{{ t }}
						{% endfor %}
					</td>
					<td width="100"><a href="/accounts/department/edit/{{ v.department_id }}/" class="btn btn-xs btn-primary node-edit" >修改</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>



<script>
    $(".node-edit").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: '修改部门',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , (height - 50) + 'px'],
                content: url
            });
         event.preventDefault();
    });
</script>
{% endblock content %}