{% extends 'default/base.html' %}

{% block title %} 组列表|Group list {% endblock %}

{% block assistant-header %} 

    组列表 
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">管理组</a></li>
    </ol>

{% endblock %}

{% block content %}


<div class="box">

    <div class="box-header with-border">
        <div class="col-lg-6">
        <h4> 组详细信息</h4>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'department_add' %}" class="btn btn-info pull-right" >添加组</a>
        </div>
    </div>

    <div class="box-body">
		<table class="table table-bordered">
			<thead>
				<tr>
                    <th>组</th>
					<th>组长</th>
                    <th style="text-align:center">组员</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for k,v in content.items %}
				<tr>
                    <td width="200">{{ k }}</td>
					<td width="400">{{ v.manager }}</td>
					<td>
						{% for t in v.user_list %}
							{{ t }}
						{% endfor %}
					</td>
                    <td width="100">
                        <a href="{% url 'department_delete' v.department_id %}" class="btn btn-xs btn-primary group-delete" >删除</a>
                        <a href="{% url 'department_edit' v.department_id %}" class="btn btn-xs btn-primary group-edit" >修改</a>
                        <a href="{% url 'department_auth' v.department_id %}" class="btn btn-xs btn-primary group-auth" >权限</a>
                    </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>



<script>

$(".group-delete").on("click",function(de){
    var url= $(this).attr("href");
    layer.alert("确定删除吗？",{
        skin: 'layui-layer-molv',
        closeBtn: 2,
        shift: 4,
    },function(index){
        layer.close(index);
        $.get(url).done(function(data) {
            window.location.reload();
        });
    });
    de.preventDefault();
});

    $(".group-edit").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: '修改部门',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['600px' , '600px'],
                end : function () {
                  location.reload();
              },
                content: url
            });
         event.preventDefault();
    });

    $(".group-auth").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: '组权限',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['700px' , (height - 50) + 'px'],
                end : function () {
                  location.reload();
              },
                content: url
            });
         event.preventDefault();
    });

</script>
{% endblock content %}