<!DOCTYPE html>
<html>

<head>

{% include 'script.html' %}
{% include 'link_css.html' %}

</head>

<body>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">找回密码</div>
<!--             <p>找回密码</p> -->
            <div class="panel-body">
                <form class="m-t" role="form" method="post" action="">{% csrf_token %} 
                    <div class="form-group">
                        <input type="text" class="form-control" id="id_email" maxlength="32" name="email" placeholder="请填写邮箱地址" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width">提交</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>