{% extends 'default/base.html' %}
{% load bootstrap %}


{% block title %} 业务详情|platform detail{% endblock %}


    {% block assistant-header %} <h3> 业务详情|platform detail</h3>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'business_list' %}">业务管理</a></li>
        <li><a href="{% url 'business_detail' business_data.uuid %}">业务详情</a></li>
    </ol>
{% endblock %}


{% block content %}
<div class="row">

<div class="col-lg-9">
    <div class="box box-info">
        <div class="box-header with-border">
            <h4 class="text-info"><strong>业务基本信息 </strong></h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-info">业务全名</th>
                    <td>{{ business_data.full_name }}</td>
                </tr>
                <tr>
                    <th class="text-info">业务简称</th>
                    <td>{{ business_data.name }}</td>
                </tr>
                <tr>
                    <th class="text-info">发布代号</th>
                    <td>{{ business_data.nic_name }}</td>
                </tr>
                <tr>
                    <th class="text-info">平台</th>
                    <td>{{ business_data.platform.name }}</td>
                </tr>
                <tr>
                    <th class="text-info">建站时间</th>
                    <td>{{ business_data.initsite_data }}</td>
                </tr>
                <tr>
                    <th class="text-info">负责人</th>
                    <td>{{ business_data.functionary.username }}</td>
                </tr>
<!--                 <tr>
                    <th class="text-info">专员</th>
                    <td>{{ business_data.ds_contact.username }}</td>
                </tr>
                <tr>
                    <th class="text-info">客户名</th>
                    <td>{{ business_data.agent_contact }}</td>
                </tr>
                <tr>
                    <th class="text-info">客户电话</th>
                    <td>{{ business_data.agent_contact_method }}</td>
                </tr>
                <tr>
                    <th class="text-info">客户联系方式</th>
                    <td>{{ business_data.other_contact_method }}</td>
                </tr> -->
                <tr>
                    <th class="text-info">业务状态</th>
                    <td>
                        {% if business_data.status == '0' %}正常运转{% elif business_data.status == '1' %}维护升级{% elif business_data.status == '2' %}迁移过渡{% else %}停止运转{% endif %}
                    </td>
                </tr>
<!--                 <tr>
                    <th class="text-info">状态变更时间</th>
                    <td>
                        {{ business_data.status_update_date }}
                    </td>
                </tr> -->
                <tr>
                    <th class="text-info">前端域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '0' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">ag域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '1' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">后台域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '2' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">彩票域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '3' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">导航网域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '4' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">其他域名</th>
                    <td>
                        {% for s in business_data.domainname_set.all %}
                            {% if s.use == '5' %}
                            <a href="{% url 'domain_detail' s.uuid %}" class="btn btn-xs btn-success">{{ s.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="text-info">前端源站ip</th>
                    <td>{{ front_ip }}</td>
                    <td class="text-info">检测</td>
                </tr>
                <tr>
                    <th class="text-info">前端源站web文件</th>
                    <td>{{ business_data.front_station_web_file }}</td>
                    <td class="text-info"><a href="{% url 'business_conf_show' %}" class="btn btn-primary look-ff">查看Look</a></td>

                </tr>
                <tr>
                    <th class="text-info">前端源站web文件路径</th>
                    <td>{{ business_data.front_station_web_dir }}</td>
                </tr>
                <tr>
                    <th class="text-info">前端代理ip</th>
                    <td>{{ front_proxy_ip }}</td>
                    <td class="text-info">检测</td>

                </tr>
                <tr>
                    <th class="text-info">前端代理web文件</th>
                    <td>{{ business_data.front_proxy_web_file }}</td>
                    <td class="text-info"><a href="{% url 'business_conf_show' %}" class="btn btn-primary look-fp">查看Look</a></td>
                </tr>
                <tr>
                    <th class="text-info">前端代理web文件路径</th>
                    <td>{{ business_data.front_proxy_web_dir }}</td>
                </tr>
                <tr>
                    <th class="text-info">后台ip</th>
                    <td>{{ backend_ip }}</td>
                    <td class="text-info">检测</td>

                </tr>
                <tr>
                    <th class="text-info">后台源站web文件</th>
                    <td>{{ business_data.backend_station_web_file }}</td>
                    <td class="text-info"><a href="{% url 'business_conf_show' %}" class="btn btn-primary look-bc">查看Look</a></td>
                </tr>
                <tr>
                    <th class="text-info">后台源站web文件路径</th>
                    <td>{{ business_data.backend_station_web_dir }}</td>
                </tr>
                <tr>
                    <th class="text-info">后台代理ip</th>
                    <td>{{ backend_proxy_ip }}</td>
                    <td class="text-info">检测</td>

                </tr>
                <tr>
                    <th class="text-info">后台代理web文件</th>
                    <td>{{ business_data.backend_proxy_web_file }}</td>
                    <td class="text-info"><a href="{% url 'business_conf_show' %}" class="btn btn-primary look-bcp">查看Look</a></td>
                </tr>
                <tr>
                    <th class="text-info">后台代理web文件路径</th>
                    <td>{{ business_data.backend_proxy_web_dir }}</td>
                </tr>
                <tr>
                    <th class="text-info">第三方反代ip</th>
                    <td>{{ ag_ip }}</td>
                    <td class="text-info">检测</td>

                </tr>
                <tr>
                    <th class="text-info">第三方反代web文件</th>
                    <td>{{ business_data.third_proxy_web_file }}</td>
                    <td class="text-info"><a href="{% url 'business_conf_show' %}" class="btn btn-primary look-ag">查看Look</a></td>
                </tr>
                <tr>
                    <th class="text-info">第三方反代web文件路径</th>
                    <td>{{ business_data.third_proxy_web_dir }}</td>
                </tr>
                <tr>
                    <th class="text-info">备注</th>
                    <td>
                        {{ business_data.description }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="col-lg-3">
    <div class="box box-info">
        <div class="box-header with-border">
            <h4 class="text-info"><strong>更新日志 </strong></h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
        <div><a href="{% url 'business_edit' business_data.uuid %}" class="btn btn-info btn-xs">修改业务信息</a></div>
        </div>
    </div>



</div>

</div>

<script type="text/javascript">
$('.look-ff').on("click",function(fstation){
    var urls= $(this).attr("href");
    var ip = "{{ front_ip }}";
        // ip = ip.split(" ");
        // alert (typeof(ip));

    var path = "{{ business_data.front_station_web_dir }}";
    var file = "{{ business_data.front_station_web_file }}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data:{ip: ip,path: path,file: file},
            contentType: "application/json",
            success: function(data) { 
                layer.open({
                      type: 2,
                      title: data.ip,
                      shadeClose: true,
                      skin: 'layui-layer-rim',
                      area: ['700px', '90%'],
                      content: "{% url 'deploy_nginx_tmp_file' %}",
                    });
                },
        });
        fstation.preventDefault();
    });

$('.look-fp').on("click",function(fpstation){
    var urls= $(this).attr("href");
    var ip = "{{ front_proxy_ip }}";
    var path = "{{ business_data.front_proxy_web_dir }}";
    var file = "{{ business_data.front_proxy_web_file }}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data:{ip: ip,path: path,file: file},
            contentType: "application/json",
            success: function(data) { 
                layer.open({
                      type: 2,
                      title: data.ip,
                      shadeClose: true,
                      skin: 'layui-layer-rim',
                      area: ['700px', '90%'],
                      content: "{% url 'deploy_nginx_tmp_file' %}",
                    });
                },
        });
        fpstation.preventDefault();
    });

$('.look-bc').on("click",function(fpstation){
    var urls= $(this).attr("href");
    var ip = "{{ backend_ip }}";
    var path = "{{ business_data.backend_station_web_dir }}";
    var file = "{{ business_data.backend_station_web_file }}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data:{ip: ip,path: path,file: file},
            contentType: "application/json",
            success: function(data) { 
                layer.open({
                      type: 2,
                      title: data.ip,
                      shadeClose: true,
                      skin: 'layui-layer-rim',
                      area: ['700px', '90%'],
                      content: "{% url 'deploy_nginx_tmp_file' %}",
                    });
                },
        });
        fpstation.preventDefault();
    });

$('.look-bcp').on("click",function(fpstation){
    var urls= $(this).attr("href");
    var ip = "{{ backend_proxy_ip }}";
    var path = "{{ business_data.backend_proxy_web_dir }}";
    var file = "{{ business_data.backend_proxy_web_file }}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data:{ip: ip,path: path,file: file},
            contentType: "application/json",
            success: function(data) { 
                layer.open({
                      type: 2,
                      title: data.ip,
                      shadeClose: true,
                      skin: 'layui-layer-rim',
                      area: ['700px', '90%'],
                      content: "{% url 'deploy_nginx_tmp_file' %}",
                    });
                },
        });
        fpstation.preventDefault();
    });

$('.look-bcp').on("click",function(fpstation){
    var urls= $(this).attr("href");
    var ip = "{{ ag_ip }}";
    var path = "{{ business_data.third_proxy_web_dir }}";
    var file = "{{ business_data.third_proxy_web_file }}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data:{ip: ip,path: path,file: file},
            contentType: "application/json",
            success: function(data) { 
                layer.open({
                      type: 2,
                      title: data.ip,
                      shadeClose: true,
                      skin: 'layui-layer-rim',
                      area: ['700px', '90%'],
                      content: "{% url 'deploy_nginx_tmp_file' %}",
                    });
                },
        });
        fpstation.preventDefault();
    });

</script>

{% endblock %}