{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} Modify Record{% endblock %}




{% block content %}

    <div class="row col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th style="width:110px">子域名</th>
                            <th style="width:80px">解析类型</th>
                            {% if data.record_type == "A" %}

                            <th style="width:230px">解析值 / 备用值</th>
                            {% else %}
                            <th style="width:230px">解析值</th>

                            {% endif %}
                            <th style="width:150px">所属组</th>
                            <th style="width:230px">备注</th>

                            <th style="width:60px">TTL</th>
                            <th>操作</th>
                        </tr>
                        </tbody>
                        <tbody>
                            <form class="form-horizontal" role="form" id="dnsrecord-modify" method="post" action="">{% csrf_token %}
                                <td><div class="form-group"><input class="form-control input-sm" type="text" id="subdomain" value="{{ data.subdomain }}" style="width:110px"></div></td>
                                <td>
                                    <div class="form-group">
                                        <select id="id_record_type" name="record_type" class="form-control" style="width:80px">
                                            <option value="{{ data.record_type }}" selected="selected">{{ data.record_type }}</option>
                                            <option value="A">A</option>
                                            <option value="CNAME">CNAME</option>
                                            <option value="MX">MX</option>
                                            <option value="NS">NS</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                {% if data.record_type == "A" %}
                                <div class="form-group form-inline">
                                <input class="form-control input-sm" value="{{ data.value }}" type="text" id="record-value" style="width:100px">/
                                <input class="form-control input-sm" value="{{ data.standby }}" type="text" id="record-standby" style="width:100px">
                                </div>

                                {% else %}
                                <div class="form-group">
                                    <input class="form-control input-sm" value="{{ data.value }}" type="text" id="record-value" style="width:230px">
                                </div>
                                {% endif %}
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="id_group" name="group" class="form-control" style="width:150px">
                                            {% if data.group == None %}<option value="" selected="selected">---select---</option>{% else %}
                                            <option value="{{ data.group.uuid }}" selected="selected">{{ data.group }}</option>{% endif %}
                                            {% for i in business %}
                                            {% if i.uuid != data.group.uuid %}
                                            <option value="{{ i.uuid }}">{{ i.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                <div class="form-group"><input class="form-control input-sm" value="{{ data.remark }}" type="text" id="record-remark" style="width:230px"></div>
                                </td>

                                <td><div class="form-group"><input class="form-control input-sm" value="{{ data.ttl }}" type="text" id="record-ttl" value="600" style="width:60px"></div></td>

                                <td><a id="submit" href="{% url 'dnsname_record_modify' data.uuid %}" class="btn btn-xs" style="background-color:#0090f4">保存</a></td>
                            </form>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $('#submit').click(function(event){
            var index = parent.layer.getFrameIndex(window.name);
            var urls = $(this).attr('href');
            var subdomain = $('#subdomain').val();
            var type = $('#id_record_type').val();
            var value = $('#record-value').val();
            var ttl = $('#record-ttl').val();
            var remark = $('#record-remark').val();
            var group = $('#id_group').val();
            if (type == "A") {
                var standby = $('#record-standby').val();
            } else { var standby = '' };

            $.ajax({
                url:urls,
                dataType: 'json',
                type: 'POST',
                data: {
                    'subdomain': subdomain,
                    'type': type,
                    'value': value,
                    'standby': standby,
                    'ttl': ttl,
                    'group': group,
                    'remark': remark,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function(data) { 
                    if (data.retu == "OK") {
                        console.log(data.info)
                        parent.layer.msg(data.info,{icon: 1});
                        parent.location.reload();
                        parent.layer.close(index);

                    } else {
                        alert (data.info);
                    }
                    },
            });
            event.preventDefault();
        });
    </script>


{% endblock  %}