{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 修改域名|Add Business {% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-10 col-lg-10">
        <div class="box box-info">
            <div class="box-body">
                <form class="form-horizontal" action="" id="domainname_edit"  method="post" name="horizontal" role="form" autocomplete="off">
                    {% csrf_token %}
                <table data-toggle="table" id="table-style" data-row-style="rowStyle" class="table table-hover table-bordered">
                    {{ df.name|bootstrap_horizontal }}
                    {{ df.use|bootstrap_horizontal }}
                    {{ df.classify|bootstrap_horizontal }}
                    {{ df.state|bootstrap_horizontal }}
                    {{ df.supplier|bootstrap_horizontal }}
                    {{ df.description|bootstrap_horizontal }}
                </table>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                            <button class="btn btn-info btn-lg" type="reset"> 重置 </button>
                            <a class="btn btn-success btn-lg" href="#" id="id_add_submit"> 提交 </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#id_add_submit").on('click',function(){
        var urls= "{% url 'domain_edit' uuid %}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'POST',
            data: $('.form-horizontal').serialize(),
            success: function(data) { 
                if (data.res == "OK") {
                    parent.layer.closeAll();
                } else {
                    alert(data.info)
                }
                },
        });
    })
</script>


{% endblock content %}