{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} import domain file {% endblock %}




  {% block assistant-header %} <h4>批量导入域名文件</h4> {% endblock %}

{% block content %}


<div class="col-lg-12">
  <div class="col-md-6">
    <div class="box box-info">
        <div class="box-header">文件格式</div>
        <div class="box-body">
          <img src="/static/images/domain/upload_example.jpg" alt="Mountain View">
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-header">选择excel文件</div>
      <div class="box-body">

        <form id="form" action="" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
            <div class="form-group">
              {% for i in errors %}<p class="text-danger">{{ i }}</p>{% endfor %}
              <label for="exampleInputFile">支持.xls和.xlsx</label>
              <input type="file" id="id_docfile" name="docfile">
              <br>
              <hr>
              <button class="btn btn-info" type="submit">提交</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row"></div>


{% endblock %}