{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 添加域名|Add Business {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">{% for i in errors %}<p class="text-danger">{{ i }}</p>{% endfor %}</div>
                <div class="box-body">
                    <form class="form-horizontal" action="" id="domainname_add"  method="post" name="horizontal" role="form" autocomplete="off">
                        {% csrf_token %}
                        <div class="col-md-7">
                            <h4>选择域名用途</h4>
                            <div class="radio">
                                <label class="radio-inline" for="id_use">
                                    <input type="radio" name="selectdomainuse" value="0" checked> 前端域名
                                </label>
                                <label class="radio-inline" for="id_use">
                                    <input type="radio" name="selectdomainuse" value="1"> ag代理域名
                                </label>
                                <label class="radio-inline" for="id_use">
                                    <input type="radio" name="selectdomainuse" value="2"> ds168后台域名
                                </label>
                                <label class="radio-inline" for="id_use">
                                    <input type="radio" name="selectdomainuse" value="3"> 导航网域名
                                </label>
                                <label class="radio-inline hidden" for="id_use">
                                    <input type="radio" name="selectdomainuse" value="4"> 其他域名
                                </label>
                            </div><hr>
                            <h4>选择域名管理者</h4>
                                <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="selectdomainmanage" value="网站"> 网站
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="selectdomainmanage" value="工程" checked> 工程
                                </label>
                                <label class="radio-inline hidden">
                                    <input type="radio" name="selectdomainmanage" value="其他"> 其他
                                </label>
                            </div><hr>
                            <h4>选择环境</h4>
                                <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="selectclassify" value="online" checked> 线上
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="selectclassify" value="huidu"> 灰度
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="selectclassify" value="test"> 测试
                                </label>
                            </div><hr>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-info " type="reset"> 重置 </button>
                                    <a href="#" class="btn btn-success" id="id_add_submit"> 提交 </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4>域名<small>每行一条</small></h4>
                            <div class="form-group">
                                <textarea class=" form-control" cols="40" id="id_description" name="description" rows="25"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#id_add_submit").on('click',function(){
        var urls= "{% url 'domain_add_select' siteid %}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'POST',
            data: $('.form-horizontal').serialize(),
            success: function(data) { 
                if (data.res == "OK") {
                    parent.layer.closeAll();
                } else {
                    alert(data.info)
                }
                },
        });
    })
</script>

{% endblock content %}