{% extends 'default/base.html' %}
{% load bootstrap %}


{% block title %} 域名详情|platform detail{% endblock %}

{% block head %}
    <script src="/static/js/echarts.js"></script>
{% endblock %}

{% block assistant-header %} <h3> 域名详情|platform detail</h3>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'domain_list_select' domain_data.uuid %}">域名管理</a></li>
        <li><a href="{% url 'domain_detail' domain_data.uuid %}">域名详情</a></li>
    </ol>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 ">
        <div class="box box-info">
            <div class="box-body">
            <table class="table table-bordered table-striped">
            <tr>
                <th>域名</th>
                <th>用途</th>
                <th>业务</th>
                <th>状态</th>
                <th>监控</th>
                <th>状态码</th>
                <th>分析</th>
                <th>归属</th>
                <th>备注</th>
            </tr>
            <tr>
                <td>{{ domain_data.name }}</td>
                <td>{% if domain_data.use == '0' %}前端域名{% elif domain_data.use == '1' %}ag后台域名{% elif domain_data.use == '2' %}后台域名
                                {% elif domain_data.use == '3' %}彩票域名{% elif domain_data.use == '4' %}导航网域名{% elif domain_data.use == '5' %}其他域名{% endif %}</td>
                <td>{{ domain_data.business.name }}</td>
                <td>{% if  alert == False %}<i class='fa fa-circle' style='color:green' aria-hidden='true'>正常</i>{% else %}<i class='fa fa-circle' style='color:red' aria-hidden='true'>告警</i>{% endif %}</td>
                <td>{% if domain_data.monitor_status == False %}未监控{% else %}已监控{% endif %}</td>
                <td>{{ res_code }}</td>
                <td>{{ info }}</td>
                <td>{{ domain_data.supplier }}</td>
                <td>{{ domain_data.description }}</td>
            </tr>
            </table>
            </div>
        </div>
    </div>



    <div class="col-lg-12">
        <div class="box box-info">
            <div class="box-body">
            <div id=id_echarts class="col-lg-12" style="height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="box box-info">
            <div class="box-body">
                <table class="table table-striped">
                    <tr><th>当前解析IP</th><th>安全IP库</th><th>差异IP</th></tr>
                    <tr><th>{{ address }}</th><th>{{ L }}</th><th>{{ no_ip }}</th></tr>
                </table>
            </div>
        </div>
    </div>




</div>

<script type="text/javascript">
        var chart = echarts.init(document.getElementById('id_echarts'), 'vintage');
        var option = {
                title: {
                    text: '域名监控'
                },
                tooltip: {
                    trigger: 'axis',
                    showContent: true
                },
                legend: {
                    // data:[]
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '15%',
                    show: true,
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: { //x轴是横线
                    type: 'category',
                    boundaryGap: false,
                    splitLine: {
                        show: false
                    },
                    // data: [1484141700832,1484141700932,1484141701032,1484141701132,1484141701232,1484141701332,1484141701432,1484141701532,1484141701632,1484141701732]
                    data: []

                },
                yAxis: { //y轴是竖线
                    type: 'value',
                    min: '0',
                    max: '600'
                },
                dataZoom: [{
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 70,
                    end: 100
                }, {
                    type: 'slider',
                    show:true,
                    realtime:true,
                    xAxisIndex: [0],
                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                    handleSize: '30%',
                    handleStyle: {
                        color: '#80cbc4'
                    },
                    fillerColor:'#d8faf4',
                    borderColor:"#b1b1b1",
                    start: 80,
                    end: 100
                }],
                series: [
                    {
                        type:'line',
                        symbolSize: 8,
                        itemStyle: {
                            emphasis: {
                                color: '#80cbc4',
                                borderColor: '#fff',
                                borderWidth: 4,
                                borderType: 'solid',
                                shadowBlur: 5,
                                shadowColor: '#9c9a9b',
                            }
                        },
                        lineStyle: {
                            normal: {
                                width: 1,
                            }
                        },
                    },
                ]
        };

        function getData() {
            var urls = '/business/domain/get_code/';
            var uuid = "{{ domain_data.uuid }}";
            var name = "{{ domain_data.name }}";

            $.ajax({
                url: urls,
                dataType: 'json',
                type: 'GET',
                contentType: "application/json",
                data: { 
                    uuid: uuid,
                    name: name
                 },
                success: function(data) {
                    var xaxis = data.xaxis;
                    var yaxis = data.yaxis;
                    var domainname = data.name;
                    chart.setOption({
                        legend: {
                            data:[domainname]
                        },
                        xAxis: {
                            data: xaxis
                            },
                        series: [{
                            name:domainname,
                            data: yaxis
                        }]
                    });
                },
            });
        };
    setInterval(function () {
        getData();
    },60000);

if (option && typeof option === "object") {
    chart.setOption(option, true);
    getData()

};
chart.format.formatTime('yyyy-MM-dd', new Date());
</script>

{% endblock %}


