{% extends 'default/base.html' %}
{% load bootstrap %}
{% load projects_tag %}

{% block title %} 资产添加|Asset Add{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>


 {% endblock %}


    {% block assistant-header %} <h3> 批量添加虚拟机</h3>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'server_list' %}">资产列表</a></li>
        <li><a href="#">批量加机</a></li>
    </ol>
{% endblock %}


{% block content %}
<div class="row col-lg-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h4>格式：ip,ip,ip(可添加多个)  port  user  password  用途(可不填)</h4>
        </div>
        <form class="form-horizontal" action="" id="id_batch_add_virtual"  method="post" name="horizontal" role="form" autocomplete="off">
        {% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    <div class="col-md-12">
                      <label for="id_comment">填写需要录入的主机信息，每行一个:</label>
                      <textarea class="form-control" rows="20" id="id_comment" name="comment" placeholder="172.16.13.1 22 root 1qaz@WSX123swd 测试机器
172.16.13.2,192.168.1.1,10.10.0.1 22 root 1qaz@WSX123swd 测试机器2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-info" type="reset"> 重置 </button>
                    <button class="btn btn-success pull-right" type="submit"> 提交 </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row"></div>


{% endblock %}