{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 服务器权限 {% endblock %}

{% block content %}


<div class="wrapper wrapper-content animated fadeInRight col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>使用者:</th>
                    <td>{{ data.asset.manager }}</td>
                </tr>
                <tr>
                    <th>用途:</th>
                    <td>{{ data.asset.purpose }}</td>
                </tr>
                <tr>
                    <th>SSH_IP</th>
                    <td>{{ data.ssh_host }}</td>
                </tr>
                
                <tr>
                  <th>SSH_PORT</th>
                  <td>{{ data.ssh_port }}</td>
                </tr>
                <tr>
                    <th>SSH_USER</th>
                    <td>{{ data.ssh_user }}</td>
                </tr>
                <tr>
                  <th>SSH_PASSWD:</th>
                  <td>{{ data.ssh_password }}</td>
                </tr>
                {% for i in nic_data %}
                  <tr>
                      <th>其他IP:</th><td>{{ i.ipaddress }}</td>  <th>说明:</th><td>{{ i.memo }}</td>
                  </tr>
                {% endfor %}
                <tr>
                    <th>xshell登入</th>
                    <td>ssh {{ data.ssh_user }}@{{ data.ssh_host }} {{ data.ssh_port }}</td>
                </tr>
                <tr>
                    <th>命令行登入</th>
                    <td>ssh {{ data.ssh_user }}@{{ data.ssh_host }} -p {{ data.ssh_port }}</td>
                </tr>
                <tr>
                    <th>备注:</th>
                    <td>{{ data.asset.remarks }}</td>
                </tr>
            </tbody>
          </table>

          <table class="table table-hover">
            <caption>SQL OR NOSQL</caption>
              <thead>
                <tr>
                  <th>版本名称</th>
                  <th>监听地址</th>
                  <th>端口</th>
                  <th>用户</th>
                  <th>库名</th>
                  <th>密码</th>
                  <th>备注</th>
                </tr>
              </thead>
              <tbody>
                {% for i in sql_data %}

                <tr>
                  <td>{{ i.title }}</td>
                  <td>{{ i.listen }}</td>
                  <td>{{ i.port }}</td>
                  <td>{{ i.user }}</td>
                  <td>{{ i.dbname }}</td>
                  <td>{{ i.password }}</td>
                  <td>{{ i.memo }}</td>

                </tr>
                {% endfor %}

              </tbody>
            
          </table>
        </div>
    </div>
</div>


{% endblock content %}