{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 服务器权限 {% endblock %}

{% block content %}


<div class="wrapper wrapper-content animated fadeInRight col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <p>使用者:{{ data.asset.manager }}</p>
          <p>用途:{{ data.asset.purpose }}</p>
          <p>SSH_IP:{{ data.ssh_host }}</p>
          <p>SSH_PORT:{{ data.ssh_port }}</p>
          <p>SSH_USER:{{ data.ssh_user }}</p>
          <p>SSH_PASSWD:{{ data.ssh_password }}</p>
          {% for i in nic_data %}
            <p>其他IP:{{ i.ipaddress }}  说明:{{ i.memo }}</p>
          {% endfor %}
          <p>ssh {{ data.ssh_user }}@{{ data.ssh_host }} {{ data.ssh_password }}</p>
          <p>ssh {{ data.ssh_user }}@{{ data.ssh_host }} -p {{ data.ssh_password }}</p>
          <p>备注:{{ data.asset.memo }}</p>


          <table class="table table-hover">
            <caption>SQL OR NOSQL</caption>
              <thead>
                <tr>
                  <th>版本名称</th>
                  <th>监听地址</th>
                  <th>端口</th>
                  <th>用户</th>
                  <th>库名</th>
                  <th>密码</th>
                  <th>备注</th>
                </tr>
              </thead>
              <tbody>
                {% for i in sql_data %}

                <tr>
                  <td>{{ i.title }}</td>
                  <td>{{ i.listen }}</td>
                  <td>{{ i.port }}</td>
                  <td>{{ i.user }}</td>
                  <td>{{ i.dbname }}</td>
                  <td>{{ i.password }}</td>
                  <td>{{ i.memo }}</td>

                </tr>
                {% endfor %}

              </tbody>
            
          </table>
        </div>
    </div>
</div>


{% endblock content %}