{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 修改项目 {% endblock %}

{% block content %}


<div class="wrapper wrapper-content animated fadeInRight col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
            <dir class="form-group col-sm-11 col-md-10" id="content-block">
                {{ pf.project_name|bootstrap_horizontal }}
                {{ pf.aliases_name|bootstrap_horizontal }}
                {{ pf.project_contact|bootstrap_horizontal }}
                {{ pf.line|bootstrap_horizontal }}
                {{ pf.project_user_group|bootstrap_horizontal }}
                <div class="hr-line-dashed"></div>
                {{ pf.description|bootstrap_horizontal }}
                {{ pf.sort|bootstrap_horizontal }}
            </dir>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                         <button type="submit" class="btn btn-primary btn-block">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
          $("button").click(function(){
            jQuery.ajax({
              url: "{% url 'project_edit' uuid %}",                  // 提交的页面
              data: $('.form-horizontal').serialize(), // 从表单中获取数据
              type: "POST",                       // 设置请求类型为"POST"，默认为"GET"
              dataType:'text',
              success: function(msg){
                  window.parent.location.reload();
                  var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                  parent.layer.close(index); //执行关闭
              }
            });
          });
          return false;
    });
 </script>

{% endblock content %}