{% extends "default/base.html" %}
{% block title %}项目{% endblock %}

{% block assistant-header %}
    <h1> 项目 <small>project</small></h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">assets</a></li>
        <li class="active"><a href="/assets/project_list/">project_list</a></li>
      </ol>
{% endblock %}

{% block content %}
<div class="box box-info">
        <div class="box-header with-border">
        <a href="{% url 'project_add' %}" id="project_add" class="btn btn-info">添加组</a>

        </div>
        <div class="box-body">

            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>层级</th>
                        <th>父组</th>
                        <th>组名</th>
                        <th>子组</th>
                        <th>组内服务器</th>
                        <th>操作</th>
                    </tr>
                {% for v in data %}
                    <tr>
                        <td>{{ v.sort }}</td>
                        <td>{{ v.parent.project_name }}</td>
                        <td>{{ v.project_name }}</td>
                        <td>{% for i in v.mychilden.all %}{{ i.project_name }}{% endfor %}</td>
                        <td>{% for server in v.project_servers.all %}{{ server.ssh_host }}{% endfor %}</td>
                        <td>
                            <a href="{% url 'project_edit' v.uuid %}" class="btn btn-xs btn-primary project-edit">修改</a>
                            <a href="{% url 'project_delete' v.uuid %}" class="btn btn-xs btn-primary project-delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
</div>

<script>

    $("#project_add").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: '添加组',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '400px'],
                content: url
            });
         event.preventDefault();
    });



    $(".project-edit").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: '组修改',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '400px'],
                content: url,
                end : function () {
                    location.reload();
                },
            });
         event.preventDefault();
    });


$(".project-delete").on("click",function(de){
    var url= $(this).attr("href");
    layer.alert("确定删除吗？",{
        skin: 'layui-layer-molv',
        closeBtn: 2,
        shift: 4,
    },function(index){
        layer.close(index);
        $.get(url).done(function(data) {
            window.location.reload();
        });
    });
    de.preventDefault();
});

</script>
{% endblock %}