{% extends "default/base.html" %}
{% block title %}PUBLIC{% endblock %}

{% block assistant-header %} 系统初始化 {% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="box box-info">
    <div class="box-header with-border">
        <div class="col-lg-4"><h4>公钥信息</h4></div>
        <div class="col-lg-8"><h4 class="text-right"><a href="{% url 'public_key_add' %}" class="btn btn-info key-add" role="button"><span class="fa fa-key"></span>  添加公钥</a></h4></div>

        </div>
        <div class="box-body">

            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>名称</th>
                        <th>公钥</th>
                        <th>操作</th>

                    </tr>
                {% for v in data %}
                    <tr>
                        <td>{{ v.name }}</td>
                        <td>{{ v.pubkey }}</td>
                        <td>
                            <a href="{% url 'public_key_delete' v.uuid %}" class="btn btn-xs btn-primary key-delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(".key-add").on("click", function(event){
         var url= $(this).attr("href");
         var height = $(window).height();
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: 'KEY ADD',
                maxmin: true,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , (height - 50) + 'px'],
                content: url,
                end : function () {
                  location.reload();
              },
            });
         event.preventDefault();
    });


$(".key-delete").on("click",function(de){
    var url= $(this).attr("href");
    layer.alert("确定删除吗？",{
        skin: 'layui-layer-molv',
        closeBtn: 2,
        shift: 4,
    },function(index){
        layer.close(index);
        $.get(url).done(function(data) {
            window.location.reload();
        });
    });
    de.preventDefault();
});
</script>
{% endblock %}