{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} SYSTEM {% endblock %}

{% block assistant-header %} 添加公钥

    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'system_init' %}">系统初始化</a></li>
        <li><a href="{% url 'public_key_list' %}">公钥列表</a></li>
        <li><a href="#">添加公钥</a></li>
    </ol>

{% endblock %}

{% block content %}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="text-center text-info">填写公钥信息</h3>
    </div>
    <!-- 小body -->
    <div class="box-body">
        <form class="form-horizontal" role="form" action="" method="post" id="post_form">
        {% csrf_token %}
        <div class="col-mg-5 col-xs-11">
        <dir class="form-group" id="content-block">
            {{ pf|bootstrap_horizontal }}
        </dir>
        <div class="form-group">
            <button type="button" id="btn-submit" class="btn btn-primary pull-right">保存</button>
        </div>
        </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
          $("#btn-submit").click(function(){
            jQuery.ajax({
              url: "{% url 'public_key_add' %}",                  // 提交的页面
              data: $('.form-horizontal').serialize(), // 从表单中获取数据
              type: "POST",                       // 设置请求类型为"POST"，默认为"GET"
              dataType:'text',
              success: function(msg){
                  var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                              parent.layer.close(index); //执行关闭
              }
            });
          });
          return false;
    });
    </script>
{% endblock content %}