{% extends 'default/base.html' %}
{% load bootstrap %}
{% load projects_tag %}

{% block title %} 资产列表|Asset List{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>

 {% endblock %}


    {% block assistant-header %} <h3>资产列表|Asset List</h3>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">资产管理</a></li>
        <li><a href="/assets/server_list/">资产列表</a></li>
    </ol>
{% endblock %}


{% block content %}
<div class="row">

    <div class="box box-info">
        <div class="box-header with-border"><h4>服务器信息列表</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <form id="asset_form">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="text-center"><input type="checkbox" id="select_all"></th>
                  <th>远程连接IP</th>
                  <th>主机名</th>
                  <th>系统信息</th>
                  <th>系统状态</th>
                  <th>CPU|内存(GB)|硬盘(GB)</th>
                  <th>项目</th>
                  <th>服务</th>
                  <th>机房</th>
                  <th>资产状态</th>
                  <th>资产类型</th>
                  <th>品牌型号</th>
                  <th>保修期</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in servers %}
                <tr>
                  <td class="text-center"><input type="checkbox" name="selected" value="{{ i.uuid }}"></td>
                  <td>{{ i.ssh_host }}</td>
                  <td>{{ i.name }}</td>
                  <td>{{ i.os_type }}|{{ i.os_version }}|{{ i.os_release }}</td>
                  <td>
                        {% if i.system_status == 0 %}
                        <p class="text-danger">未安装</p>
                        {% else %}
                        <p class="text-success">已安装</p>
                        {% endif %}
                  </td>
                  <td>{{ i.asset.cpu.cpu_count }}|{{ i.RAM_total }}|{{ i.Disk_total }}</td>
                  <td>{% for s in i.uuid|business_list %}
                <a href="#" class="btn btn-primary btn-xs">{{ s }}</a>
                {% endfor %}</td>
                  <td>{{ i.service.all|group_str2 }}</td>
                  <td>{{ i.idc }}</td>
                  <td>
                        {% if i.asset.status == 'on' %}
                            <p class="text-success">线上</p>
                        {% elif i.asset.status == 'in' %}
                            <p class="text-danger">报废</p>
                        {% else %}
                            <p class="text-warning">闲置</p>
                        {% endif %}
                  </td>
                    {% if i.asset.asset_type == 'serverhost' %}
                        <td>物理机</td>
                        <td>{{ i.model }}</td>
                    {% else %}
                        <td>虚拟机</td>
                        <td>{{ i.env }}</td>
                    {% endif %}
                  <td>{{ i.asset.expire_date }}</td>
                  <td>
                      {% if i.asset.asset_type == 'serverhost' %}
                          <a href="{% url 'server_detail' i.uuid %}" class="btn btn-info btn-xs">详情</a>
                          <a href="{% url 'server_edit' i.uuid %}" class="btn btn-info btn-xs">修改</a> 

                      {% else %}
                          <a href="{% url 'virtual_detail' i.uuid %}" class="btn btn-info btn-xs">详情</a> 
                          <a href="{% url 'virtual_edit' i.uuid %}" class="btn btn-info btn-xs">修改</a> 
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th class="text-center"><input type="checkbox" id="select_all" onclick="check_all('asset_form')"></th>
                  <th>远程连接IP</th>
                  <th>主机名</th>
                  <th>系统信息</th>
                  <th>系统状态</th>
                  <th>CPU|内存(GB)|硬盘(GB)</th>
                  <th>项目</th>
                  <th>服务</th>
                  <th>机房</th>
                  <th>资产状态</th>
                  <th>资产类型</th>
                  <th>品牌型号</th>
                  <th>保修期</th>
                  <th>操作</th>
                </tr>
                </tfoot>
              </table>
            </div>
        </form>
        <div class="box-footer">
            Footer
        </div>
    </div>
</div>


<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });


  $('#select_all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
            this.checked = false;
        });
    }
  });
</script>

{% endblock %}