{% extends 'default/base.html' %}
{% load bootstrap %}
{% load projects_tag %}

{% block title %} 资产列表|Asset List{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>


 {% endblock %}


{% block assistant-header %} 
<h3>资产列表|Asset List</h3>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
    <li><a href="{% url 'server_list' %}">资产列表</a></li>
    <li><a href="#">资产详情</a></li>
</ol>
{% endblock %}


{% block content %}
<div class="row">

    <div class="box box-info">
        <div class="box-header with-border">
            <a href="{% url 'virtual_add' %}" class="btn btn-info">添加虚拟机</a>
            <a href="{% url 'project_list' %}" class="btn btn-info">分组</a>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">批量
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">初始化(暂时不可用)</a></li>
                <li><a href="javascript:;" id="batch_ping">探测Ping</a></li>
                <li><a href="javascript:;" id="batch_pull">更新信息</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'batch_add_vm' %}">添加虚拟机</a></li>
                <li><a href="#">导入(暂时不可用)</a></li>
                <li><a href="#">导出(暂时不可用)</a></li>

              </ul>
            </div>

        </div>
        <form id="asset_form">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="text-center"><input type="checkbox" id="select_all"></th>
                  <th>项目分组</th>
                  <th>地址</th>
                  <th>其他IP</th>
                  <th>用途</th>
                  <th>资产状态</th>
                  <th>权限</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in servers %}
                <tr>
                  <td class="text-center"><input type="checkbox" name="selected" value="{{ i.uuid }}"></td>
                  <td>{% for s in i.uuid|business_list %}<a href="#" class="btn btn-primary btn-xs">{{ s }}</a>{% endfor %}</td>
                  <td>{{ i.ssh_host }}</td>
                  <td>{% for s in  i.asset.wangka.all %}{% if s.ipaddress != i.ssh_host %}{{ s.name }}:{{ s.ipaddress }} <br>{% endif %}{% endfor %}{% if i.old_ip %}曾用IP：{{ i.old_ip }}{% endif %}</td>
                  <td>{{ i.asset.purpose }}</td>
                  <td>
                        {% if i.asset.status == 'on' %}
                            <p class="text-success">线上</p>
                        {% elif i.asset.status == 'in' %}
                            <p class="text-danger">报废</p>
                        {% else %}
                            <p class="text-warning">闲置</p>
                        {% endif %}
                  </td>
                  <td>
                      <a href="{% url 'add_sql_passwd' i.uuid %}" class="btn btn-default btn-xs addpasswd" data-toggle="tooltip" title="添加权限"><i class="fa fa-plus" aria-hidden="true"></i></a>
                      <a href="{% url 'modify_sql_passwd' i.uuid %}" class="btn btn-default btn-xs changepasswd" data-toggle="tooltip" title="修改权限密码"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      <a href="{% url 'look_server_passwd' i.uuid %}" class="btn btn-default btn-xs lookpasswd" data-toggle="tooltip" title="查看权限"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </td>
                  <td>
                      {% if i.asset.asset_type == 'serverhost' %}
                          <a href="{% url 'server_detail' i.uuid %}" class="btn btn-info btn-xs" style="color: black"><i class="fa fa-asterisk" aria-hidden="true"></i>详情</a>
                      {% else %}
                          <a href="{% url 'virtual_detail' i.uuid %}" class="btn btn-info btn-xs" style="color: black"><i class="fa fa-asterisk" aria-hidden="true"></i>详情</a>
                      {% endif %}
                      <!-- <a href="{% url 'initialization_system' i.uuid %}" id="init_{{ i.uuid }}" class="btn btn-primary btn-xs initialization" style="color: black"><i class="fa fa-linux" aria-hidden="true"></i>初始化</a>
                      <a href="{% url 'pull_server_information' i.uuid %}" class="btn btn-warning btn-xs" style="color: black"><span class="glyphicon glyphicon-flash"></span>更新</a> -->


                  </td>
                </tr>
                {% endfor %}
                </tbody>

              </table>
            </div>
        </form>
        <div class="box-footer">
            
        </div>
    </div>
</div>


<script>
  $(function () {
    $("#example1").DataTable();
  });

$('#batch_ping').on("click",function(evevnt){
  var checkboxValues = "";
  $('input:checkbox[name=selected]').map(function() 
  {
    if($(this).is(':checked')) { checkboxValues = checkboxValues + "," + $(this).val() }
  });
  var myJsonString = JSON.stringify(checkboxValues);
  $.ajax({
    url: "{% url 'batch_ping' %}",
    type: "GET",
    data: {
      'cbvs': checkboxValues,
      'name': "ping",
    },
    success: function(data){
      if (data.status == "OK") {
        var gg = data.info;

        layer.alert(gg, {
            skin: 'layui-layer-lan'
            ,closeBtn: 0
            ,anim: 4 //动画类型
          });

      } else { layer.msg(data.info,{time: 7000}) }
    }
  });
});




$('#batch_pull').on("click",function(evevnt){
  var checkboxValues = "";
  $('input:checkbox[name=selected]').map(function() 
  {
    if($(this).is(':checked')) { checkboxValues = checkboxValues + "," + $(this).val() }
  });
  var myJsonString = JSON.stringify(checkboxValues);
  $.ajax({
    url: "{% url 'batch_pull_infomation' %}",
    type: "GET",
    data: {
      'cbvs': checkboxValues,
      'name': "okk",
    },
    success: function(data){
      layer.msg(data.info)

    }
  });
});

  $('#select_all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
            this.checked = false;
        });
    }
  });

  $(".lookpasswd").on("click", function(event){
       var url= $(this).attr("href");
       var height = $(window).height();
       // layer.msg('Hello layer');
          layer.open({
              type: 2,
              title: '查看权限',
              maxmin: true,
              shade: 0.5,
              shadeClose: true, //点击遮罩关闭层
              area : ['800px' , (height - 50) + 'px'],
              content: url
          });
       event.preventDefault();
  });
  $(".addpasswd").on("click", function(event){
       var url= $(this).attr("href");
       var height = $(window).height();
       // layer.msg('Hello layer');
          layer.open({
              type: 2,
              title: '添加权限',
              maxmin: true,
              shade: 0.5,
              shadeClose: true, //点击遮罩关闭层
              area : ['800px' , (height - 50) + 'px'],
              content: url
          });
       event.preventDefault();
  });
  $(".changepasswd").on("click", function(event){
       var url= $(this).attr("href");
       var height = $(window).height();
       // layer.msg('Hello layer');
          layer.open({
              type: 2,
              title: '修改权限',
              maxmin: true,
              shade: 0.5,
              shadeClose: true, //点击遮罩关闭层
              area : ['1000px' , 500 + 'px'],
              content: url
          });
       event.preventDefault();
  });

  $(".initialization").on("click", function(event){
       var url= $(this).attr("href");
       var height = $(window).height();
       // layer.msg('Hello layer');
          layer.open({
              type: 2,
              title: false,
              maxmin: false,
              shade: 0.5,
              shadeClose: true, //点击遮罩关闭层
              area : ['1200px' , 230 + 'px'],
              content: url
          });
       event.preventDefault();
  });


</script>

{% endblock %}