  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {% if request.user.is_anonymous %}
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/admin-test/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>GUest</p>
          <a href="#"><i class="fa fa-circle text-muted"></i> Not Online</a>
        </div>
      </div>
      {% else %}
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/admin-test/dist/img/wuxiubo.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{request.user}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      {% endif %}
      <!-- search form -->
<!--       <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/index/">
            <i class="fa fa-dashboard"></i> <span>仪表盘</span>
          </a>
        </li>
        {% if perms.automation.add_deploy %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop "></i> <span>发布更新</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu ">
            <li><a href="{% url 'conf_list' %}"><i class="fa fa-circle-o"></i> 现金网</a></li>
            <li><a href="{% url 'manniu_list' %}"><i class="fa fa-circle-o"></i> 蛮牛</a></li>
            <li><a href="{% url 'my_request_task_list' %}"><i class="fa fa-circle-o"></i> 我的申请<span class="pull-right-container">
              <small class="label pull-right bg-red">{{ myrequesttasks }}</small>
            </span></a></li>
            <li><a href="{% url 'others_request_task_list' %}"><i class="fa fa-circle-o"></i> 待处理任务<span class="pull-right-container">
              <small class="label pull-right bg-red">{{ myaudittasks }}</small>
            </span></a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.assets.add_Asset %}

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop "></i> <span>资产管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu ">
            <li><a href="{% url 'server_list' %}"><i class="fa fa-circle-o"></i> 资产列表</a></li>
            <li><a href="{% url 'virtual_add' %}"><i class="fa fa-circle-o"></i> 添加虚拟机</a></li>

          </ul>
        </li>
        {% endif %}
        {% if perms.assets.add_business %}
        <li class="treeview">
            <a href="#"><i class="fa fa-coffee"></i> <span>业务管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
            <ul class="treeview-menu">
            <li><a href="{% url 'business_list' %}"><i class="fa fa-circle-o"></i> 业务列表</a></li>
            <li><a href="{% url 'business_add' %}"><i class="fa fa-circle-o"></i> 添加业务</a></li>
            </ul>
        </li>
        {% endif %}
        {% if perms.Allow_list.add_iptables %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gamepad"></i> <span>自动化管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          {% if perms.Allow_list.change_iptables %}
            <!-- <li><a href="{% url 'domain_ip_list' %}"><i class="fa fa-circle-o"></i> IP管理|IP MANAGE</a></li>  -->
            <!-- <li><a href="{% url 'linechange' %}"><i class="fa fa-circle-o"></i> 源站查询</a></li> -->
            <li><a href="{% url 'iptables' %}"><i class="fa fa-circle-o"></i> 现金网后台白名单 </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> KG经典彩白名单 </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> 蛮牛后台白名单 </a></li>
          {% endif %}
            {% if perms.Allow_list.change_oldsite_line %}
            <li><a href="{% url 'domain_manage_business_list' %}"><i class="fa fa-circle-o"></i> 域名管理</a></li>
            <li><a href="{% url 'backend_status' %}"><i class="fa fa-circle-o"></i> 现金网备用后台</a></li>
            {% endif %}
<!--           <li>
              <a href="#"><i class="fa fa-circle-o"></i> 黑名单
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 现金网黑名单</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> 蛮牛黑名单</a></li>
              </ul>
          </li> -->
        </ul>
        </li>
        {% endif %}
        {% if perms.business.add_dnsmanage_apikey %}
        <li class="treeview">
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> <span>DNS解析管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
            <ul class="treeview-menu">
              <li><a href="{% url 'dnsuser_list' %}"><i class="fa fa-circle-o"></i> 域名账户</a></li>
              <li><a href="{% url 'dnsname_add_one' %}"><i class="fa fa-circle-o"></i> 添加域名</a></li>
              <li><a href="{% url 'dnsname_list' %}"><i class="fa fa-circle-o"></i> 域名列表</a></li>
              <li><a href="{% url 'dnsname_record_list' %}"><i class="fa fa-circle-o"></i> 子域名列表</a></li>
            </ul>
        </li>
        {% endif %}
        {% if perms.automation.add_scriptdeploy %}
        <li class="treeview">
            <a href="#"><i class="fa fa-cloud-upload" aria-hidden="true"></i> <span>导航网和第三方</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
            <ul class="treeview-menu">
            {% if perms.automation.add_deploy %}
            <li><a href="{% url 'deploy_script' %}"><i class="fa fa-circle-o"></i> 更新</a></li>
            {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if perms.accounts.add_customuser %}
        <li class="treeview">
            <a href="#"><i class="fa fa-users" ></i> <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
            <ul class="treeview-menu">
            <li><a href="{% url 'department_list' %}"><i class="fa fa-circle-o"></i> 查看部门</a></li>
            <li><a href="{% url 'user_list' %}"><i class="fa fa-circle-o"></i> 查看用户</a></li>
            <li><a href="{% url 'department_add' %}"><i class="fa fa-circle-o"></i> 添加部门</a></li>
            <li><a href="{% url 'add_user' %}"><i class="fa fa-circle-o"></i> 添加用户</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-key"></i> <span>权限管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
            <ul class="treeview-menu">
            <li><a href="{% url 'auth_index' %}"><i class="fa fa-circle-o"></i> 权限分配</a></li>
            <li><a href="{% url 'auth_group_add' %}"><i class="fa fa-circle-o"></i> 创建权限组</a></li>
            <li><a href="{% url 'audit_user_list' %}"><i class="fa fa-circle-o"></i> 审核人</a></li>
            </ul>
        </li>
        <li><a href="{% url 'record_ops_command' %}"><i class="fa fa-files-o"></i><span>线上操作</span></a></li>
        {% endif %}

        {% if perms.opswiki.add_article %}
        <li>
          <a href="{% url 'list_article' %}">
            <i class="fa fa-dashboard"></i> <span>运维wiki</span>
          </a>
        </li>
        {% endif %}
        
        <li class="header">LABELS</li>
        <li><a href="/accounts/login/"><i class="fa fa-bell"></i> <span>登录</span></a></li>
        <li><a href="/accounts/logout/"><i class="fa fa-bell-o"></i> <span>退出</span></a></li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


<script>
//动态添加active的js

$(function () {
  var _nava= $('ul.sidebar-menu li a');
  var _url = window.location.href;
  var _host = window.location.host;

  var _type = $('ol.breadcrumb li a').eq(1).text();

  for(var i = 0; i<_nava.length ; i++){
    var _atext = _nava.eq(i).text();
    var _astr = _nava.eq(i).attr('href');
    if(_url.indexOf(_astr) != -1 || _atext == _type){
      _nava.eq(i).parents('li').addClass('active').siblings().removeClass('active');
    }else if(_url == ('http://'+_host+'/')){
      _nava.eq(0).addClass('active').siblings().removeClass('active');
    }
  }

  });


</script>