{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} Mola's Dashboard {% endblock %}</title>
	{% include "link_css.html" %}
    {% include "script.html" %}
</head>
<body>
	{% include 'default/nav.html' %}
<!-- 	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>鼎泰科技</span>自动化系统</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> 个人资料</a></li>
							<li><a href="/accounts/changepasswd/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> 修改密码</a></li>
							<li><a href="/accounts/logout/"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> 退出登录</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div>
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/index/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> 主页</a></li>
			<li><a href="/admin/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> 后台</a></li>
			<li><a href="/iptables/"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> 防火墙添加</a></li>
			<li><a href="/iptables_delete/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> 防火墙删除</a></li>
			<li><a href="/linechange/"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> 线路切换</a></li>

			<li class="parent ">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg></span> 用户管理 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="{% url 'add_user' %}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> 添加用户
						</a>
					</li>
					<li>
						<a class="" href="{% url 'user_list' %}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> 查看用户
						</a>
					</li>
					<li>
						<a class="" href="{% url 'department_add' %}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> 添加部门
						</a>
					</li>
					<li>
						<a class="" href="{% url 'department_list' %}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> 查看部门
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li class="parent">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked lock"><use xlink:href="#stroked-lock"/></use></svg></span> 权限管理 
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li>
						<a class="" href="{% url 'auth_index' %}">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></use></svg> 权限分配
						</a>
					</li>
					<li>
						<a class="" href="{% url 'auth_group_add' %}">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></use></svg> 创建权限组
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></use></svg> 发布权限
						</a>
					</li>
				</ul>
				
			</li>
			<li><a href="#"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></use></svg> 日志审计</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="/accounts/login/"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> 登 录 </a></li>
			<li><a href="/accounts/logout/"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> 退 出 </a></li>
		</ul>

	</div> -->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Icons</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div  class="col-lg-12">
				<h2 id="assistant-header" class="page-header">{% block assistant-header %} Dashboard {% endblock %}</h2>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			{% block content %}
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Site Traffic Overview</div>
					<!-- 小body -->
					<div class="panel-body">
						<p>欢迎访问</p>
					</div>
				</div>
			</div>
			{% endblock %}
		</div><!--/.row-->
								
	</div><!--/.row-->


<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
-->
</body>
</html>