{% extends 'default/base.html' %}

{% block title %} ERROR {% endblock %}

{% block assistant-header %} 提示页面 {% endblock %}

{% block content %}

    <style>
    .voilet{float:right;}
    .jumbotron{margin-top:10px;height:500px;}
    .wrapper{background:#ffffff;width:100%;}



    </style>

<div class="box">
    <div class="box-body">
        <div class="jumbotron" >
            <h2>
                欢迎使用自动化运维管理系统
            </h2>
            <p>
            <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            <h4>
            成功！
            </h4> <strong>SUCCESS!</strong> 执行成功
            </div>
            </p>
            <p>
                <a type="btn" href="/index/">返回首页</a>
            </p>
            <p>
                <a class="btn btn-default" href="#" role="button" onclick="self.location=document.referrer;">返回上一页</a>
                
            </p>
        </div>
    </div>
</div>

{% endblock  %}