<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="/static/js/jquery-3.0.0.js"></script>
    <script src="/static/js/echarts.js"></script>


</head>
<body>

<input type="text" id="clock" size="35" />
<button onclick="int=window.clearInterval(int)">Stop interval</button>
<style>
    html, body, #main {
        width: 1000px;
        height: 600px;
        margin: 10px;
    }
</style>

<div id="main"></div>

<script language=javascript>
var int=self.setInterval("clock()",2000)
function clock()
  {
  var t=new Date()
  document.getElementById("clock").value=t
  }
</script>


<script type="text/javascript">
        var chart = echarts.init(document.getElementById('main'), 'vintage');
        var option = {
                title: {
                    text: '域名监控'
                },
                tooltip: {
                    trigger: 'axis',
                    showContent: true
                },
                legend: {
                    data:['217218.com']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    show: true,
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['2017/02/12 1:00:00','2017/02/12 1:30:00','2017/02/12 2:00:00','2017/02/12 3:00:00','2017/02/12 4:00:00','2017/02/12 5:00:00','2017/02/12 6:00:00','2017/02/12 7:00:00','2017/02/12 8:00:00','2017/02/12 9:00:00']
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: [{
                    type: 'inside',
                    start: 50,
                    end: 100
                }, {
                    show: true,
                    type: 'slider',
                    y: '90%',
                    start: 10,
                    end: 30
                }],
                series: [
                    {
                        name:'217218.com',
                        type:'line',
                        stack: '总量',
                        data:[120, 132, 101, 134, 90, 230, 210,152,200,400]
                    },
                ]
        };

        chart.setOption(option);

</script>
</body>
</html>
