{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} 发布新站|ADD NEW WEBSITE {% endblock %}

{% block head %} 

{% endblock %}


{% block assistant-header %} 
    <h4>{{ dname }}</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">网站更新列表</a></li>
        <li><a href="#">新站发布</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
    <form class="form-horizontal" action="" id="conf_add"  method="post" name="horizontal" role="form" autocomplete="off">{% csrf_token %}
    <div class="box box-solid">
        <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h3 class="box-title">选择发布业务</h3>
            <button type="submit" class="btn btn-primary btn-xs pull-right">提交申请</button>
            <a  href="javascript:;" id="id_test" class="btn btn-primary btn-xs">测试</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        {% if errors %}
        {% for i in errors %}<p class="text-danger"><b>Error:</b> {{ i }}</p>{% endfor %}
        {% else %}
            <div class="form-group col-md-12">
                <select class=" form-control " id="id_business" name="business">
                    <option value="">---select---</option>
                    {% for i in busi %}
                    <option value="{{ i.nic_name }}">{{ i.nic_name }}--{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if conf_domain %}
                <div id="demo" hidden="hidden">
                    <div class="col-md-4">
                        <h4>前端域名</h4>
                        <textarea class="form-control yuming" id="front-domain" name="front" readonly="readonly" rows="10" >{% if webtext %}{{ webtext }}{% else %}{% endif %}</textarea>
                    </div>
                    <div class="col-md-4">
                        <h4>ag域名</h4>
                        <textarea class="form-control yuming" id="ag-domain" name="ag" readonly="readonly" rows="10" >{% if agtext %}{{ agtext }}{% else %}{% endif %}</textarea>
                    </div>
                    <div class="col-md-4">
                        <h4>后台域名</h4>
                        <textarea class="form-control yuming" id="backend-domain" name="backend" readonly="readonly" rows="10" >{% if ds168text %}{{ ds168text }}{% else %}{% endif %}</textarea>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
    </form>
</div>
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-text-width"></i>

          <h3 class="box-title">{{ platform }}_{{ envname }}发布_审核流程</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ol>
            <li>运维人员配置项目信息</li>
            <li>运维人员配置代码仓库地址</li>
            <li>运维人员配置服务器信息</li>
            <li>申请人选择发布项目</li>
            <li>申请人配置域名</li>
            <li>审核人审核</li>
            <li>自动发布并生成日志</li>
            <li>完成发布</li>
          </ol>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>

<script type="">
    $("#id_test").on('click',function(){
        layer.open({
          content: 'http://www.baidu.com',
          type: 2,
          title: '组权限',
          maxmin: true,
          shade: 0.5,
          shadeClose: true, //点击遮罩关闭层
          area : ['1200px' , 600 + 'px'],
        })
    })

</script>


<script type="text/javascript">
$(document).ready(function(){
$('#id_business').change(function(){
    var pp = $(this).children('option:selected').val();
    var env = "{{ envir }}";
    var platform = "{{ platform }}";

    $.ajax({
        url: "{% url 'deploy_domains' %}",
        type: "GET",
        dataType: "json",
        data: {'siteid':pp,'classify':env,'platform':platform},
        success: function (data) {
            $('#front-domain').text(data.webtext);
            $('#ag-domain').text(data.agtext);
            $('#backend-domain').text(data.ds168text);
        }
    });

    $('#demo').show();
    })
    })
</script> 
<script type="text/javascript">
  // $(".yuming").on('click',function() {
    // $(this).removeAttr('readonly');
    // $(this).empty();
  // })
</script>
{% endblock %}