{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 使用版本管理{% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/admin-test/plugins/iCheck/all.css">
{% endblock %}



{% block content %}
<div class="row col-lg-12">
    <div class="box">
        <div class="box-body">
        <div class="col-lg-12">

            <h4 class="text-center">{{ data.platform }}-{{ data.classify }}-{{ data.name }}</h4>
            <hr>
                <form role="form" action="" method="post" id="post_form" class="sidebar-form">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="text-right bolder" for="id_hosts">版本更新状态:</label>
                        </div>
                        <div class="col-md-10">
                        {% if version_data.islog %}
                            <label>
                                完成
                              <input type="radio" name="is_log" class="flat-red" value="yes" checked>
                            </label>
                            <label>
                                未完成
                              <input type="radio" name="is_log" class="flat-red" value="no">
                            </label>
                        {% else %}
                            <label>
                                完成
                              <input type="radio" name="is_log" class="flat-red" value="yes" >
                            </label>
                            <label>
                                未完成
                              <input type="radio" name="is_log" class="flat-red" value="no" checked>
                            </label>
                        {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="text-right bolder" for="id_work_path">版本使用状态:</label>
                        </div>
                        <div class="col-md-10">
                            {% if version_data.isuse %}
                            <label>
                                当前在使用此版本
                              <input type="radio" name="is_use" class="flat-red" value="yes" checked>
                            </label>
                            <label>
                                没有使用该版本
                              <input type="radio" name="is_use" class="flat-red" value="no">
                            </label>
                        {% else %}
                            <label>
                                当前在使用此版本
                              <input type="radio" name="is_use" class="flat-red" value="yes" >
                            </label>
                            <label>
                                没有使用该版本
                              <input type="radio" name="is_use" class="flat-red" value="no" checked>
                            </label>
                        {% endif %}
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_method">更新方式:</label>
                            <input class="form-control" id="id_method" name="method" value="{{version_data.method}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_branch">更新分支:</label>
                            <input class="form-control" id="id_branch" name="branch" value="{{version_data.branch}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_version">更新版本:</label>
                            <input class="form-control" id="id_version" name="version" value="{{version_data.version}}">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_web_branches">web分支:</label>
                            <input class="form-control" id="id_web_branches" name="web_branches" value="{{version_data.web_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_web_release">web版本:</label>
                            <input class="form-control" id="id_web_release" name="web_release" value="{{version_data.web_release}}">
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_php_pc_branches">php电脑分支:</label>
                            <input class="form-control" id="id_php_pc_branches" name="php_pc_branches" value="{{version_data.php_pc_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_php_pc_release">php电脑版本:</label>
                            <input class="form-control" id="id_php_pc_release" name="php_pc_release" value="{{version_data.php_pc_release}}">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_php_mobile_branches">php手机分支:</label>
                            <input class="form-control" id="id_php_mobile_branches" name="php_mobile_branches" value="{{version_data.php_mobile_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_php_mobile_release">php手机版本:</label>
                            <input class="form-control" id="id_php_mobile_release" name="php_mobile_release" value="{{version_data.php_moblie_release}}">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_config_branches">php配置分支:</label>
                            <input class="form-control" id="id_config_branches" name="config_branches" value="{{version_data.config_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_config_release">php配置版本:</label>
                            <input class="form-control" id="id_config_release" name="config_release" value="{{version_data.config_release}}">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_js_pc_branches">VUE电脑分支:</label>
                            <input class="form-control" id="id_js_pc_branches" name="js_pc_branches" value="{{version_data.js_pc_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_js_pc_release">VUE电脑版本:</label>
                            <input class="form-control" id="id_js_pc_release" name="js_pc_release" value="{{version_data.js_pc_release}}">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="text-right bolder" for="id_js_mobile_branches">VUE手机分支:</label>
                            <input class="form-control" id="id_js_mobile_branches" name="js_mobile_branches" value="{{version_data.js_mobile_branches}}">
                        </div>
                        <div class="form-group">
                            <label class="text-right bolder" for="id_js_mobile_release">VUE手机版本:</label>
                            <input class="form-control" id="id_js_mobile_release" name="js_mobile_release" value="{{version_data.js_mobile_release}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="javascript:;" class="btn btn-success pull-right" id="id_submit"> 提交 </a>
                    </div>

                </form>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#id_submit').on("click",function(){
        var is_log = $("input[name='is_log']:checked").val();
        var is_use = $("input[name='is_use']:checked").val();

        var method = $("#id_method").val();
        var branch = $("#id_branch").val();
        var version = $("#id_version").val();

        var web_branches = $("#id_web_branches").val();
        var php_pc_branches = $("#id_php_pc_branches").val();
        var php_mobile_branches = $("#id_php_mobile_branches").val();
        var js_pc_branches = $("#id_js_pc_branches").val();
        var js_mobile_branches = $("#id_js_mobile_branches").val();
        var config_branches = $("#id_config_branches").val();
        var web_release = $("#id_web_release").val();
        var php_pc_release = $("#id_php_pc_release").val();
        var php_mobile_release = $("#id_php_mobile_release").val();
        var js_pc_release = $("#id_js_pc_release").val();
        var js_mobile_release = $("#id_js_mobile_release").val();
        var config_release = $("#id_config_release").val();


        var urls= "{% url 'deploy_edit' data.id %}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'POST',
            data: {  
                'is_log': is_log, 
                'is_use': is_use, 
                'method': method,
                'branch': branch,
                'version': version,
                'web_branches': web_branches,
                'php_pc_branches': php_pc_branches,
                'php_mobile_branches': php_mobile_branches,
                'js_pc_branches': js_pc_branches,
                'js_mobile_branches': js_mobile_branches,
                'config_branches': config_branches,
                'web_release': web_release,
                'php_pc_release': php_pc_release,
                'php_moblie_release': php_mobile_release,
                'js_pc_release': js_pc_release,
                'js_mobile_release': js_mobile_release,
                'config_release': config_release,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function(data) { 
                if (data.res == "OK") {
                    parent.layer.closeAll();
                }
                },
        });
    });
</script>
<script src="/static/admin-test/plugins/iCheck/icheck.min.js"></script>

<script>
  $(function () {

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

  });
</script>

{% endblock  %}