{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} 蛮牛更新发布 {% endblock %}

{% block head %} 

{% endblock %}


{% block assistant-header %} 
    <h4>蛮牛更新发布</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'manniu_list' %}">蛮牛项目更新</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs (Pulled to the right) -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#tab_1-1" data-toggle="tab">蛮牛平台java项目</a></li>
              <li><a href="#tab_2-2" data-toggle="tab">蛮牛WEB灰度环境</a></li>
              <li><a href="#tab_3-2" data-toggle="tab">蛮牛WEB生产环境</a></li>
              <li class="pull-left header"><i class="fa fa-th"></i> 蛮牛更新发布</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1">
                <div class="row">
                  <div class="col-lg-12">
                  <a href="{% url 'conf_add_java_project' %}" class="btn btn-primary">添加新项目</a>
                  <hr>
                  </div>
                  <div class="col-lg-12">
                    {% for i in data %}
                    <div class="col-md-3"><a href="{% url 'web_update_code' i.id %}" class="btn btn-success update-java">{{ i.name }}</a></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2">
                <div class="row">
                  <div class="col-lg-6">
                  <a href="{% url 'conf_add' 'manniu_huidu' %}" class="btn btn-primary">申请灰度发布</a>
                  <hr>
                  </div>
                  <div class="col-lg-6">{% if data_huidu %}<a href="{% url 'public_update_code' 'manniu_huidu' %}" class="btn btn-warning update-java">公共代码全站更新</a>
                  <hr>{% endif %}</div>
                  <div class="col-lg-12">
                    {% for i in data_huidu %}
                    <div class="col-md-3"><a href="{% url 'web_update_code' i.id %}" class="btn btn-success update-java"><span class="badge bg-purple">{{ i.business.name }}</span>{{ i.name }}</a></div>
                    {% endfor %}
                  </div>

                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3-2">
                <div class="row">
                  <div class="col-lg-6">
                  <a href="{% url 'conf_add' 'manniu_online' %}" class="btn btn-primary">申请生产发布</a>
                  <hr>
                  </div>
                  <div class="col-lg-6">{% if data_online %}<a href="{% url 'public_update_code' 'manniu_online' %}" class="btn btn-warning update-java">公共代码全站更新</a>
                  <hr>{% endif %}</div>
                  <div class="col-lg-12">
                    {% for i in data_online %}
                    <div class="col-md-3"><a href="{% url 'web_update_code' i.id %}" class="btn btn-success update-java"><span class="badge bg-purple">{{ i.business.name }}</span>{{ i.name }}</a></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
</div>
<script type="text/javascript">
    $(".update-java").on("click", function(event){ //一般更新
         var url= $(this).attr('href');
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: false,
                skin: 'layui-layer-rim',
                maxmin: false,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['1100px' , '800px'],
                end : function () {
                  // location.reload();
                  layer.msg('OK');
              },
                content: [url,'no']
            });
         event.preventDefault();
    });


</script>

{% endblock %}