{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} 任务详情 {% endblock %}

{% block head %} 
<style type="text/css">
p {text-indent: 1cm}
</style>
<script src="/static/js/readmore.min.js"></script>

{% endblock %}


{% block assistant-header %} 
    <h4>任务详情</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">我的任务</a></li>
        <li><a href="#">任务详情</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">

<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-green">
            {{ data.create_date.date }}
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>

            <h3 class="timeline-header"><a href="#">创建申请</a></h3>

            <div class="timeline-body">
                <h4>{{ data.name }}<small>_____申请人：{{ data.initiator.first_name }}</small></h4>
            </div>
        </div>
    </li>
<!-- 任务作废开始 -->
    {% if data.loss_efficacy %}
        <li class="time-label">
            <span class="bg-red">
                {{ data.end_date.date }}
            </span>
        </li>
        <li>
        <!-- timeline icon -->
        
        <i class="fa fa-times bg-purple"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.end_date.time }}</span>

            <h3 class="timeline-header"><a href="#">任务废除</a> </h3>

            <div class="timeline-body">
                <h4>用户：{{ data.initiator }} 废除了此任务</h4>
                <p>相关审核信息已被删除！</p>
            </div>

            <div class="timeline-footer">
                <a class="btn btn-primary btn-xs">END</a>
            </div>
        </div>
        
    </li>
    {% else %}
<!-- 任务作废结束 -->
<!-- 任务有效开始 -->
<!--发布任务开始-->
    {% if classify == 'fabu' %}
    <li>
        <!-- timeline icon -->
        
        <i class="fa fa-wrench bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>

            <h3 class="timeline-header"><a href="#">自动配置</a></h3>
            {% if fabu_details %}
                <div class="timeline-body" id="task_body_id">
                    <div class="col-lg-12">
                    <div class="col-lg-6">
                    <h4>公共仓库：</h4>
                    {% if gitpublic %}
                    {% for i in gitpublic %}
                        <p>{{ i.address }}</p>
                    {% endfor %}
                    {% else %}<p class="bg-danger">没有配置php和js公共repo，请联系运维！</p>{% endif %}
                    </div>
                    <div class="col-lg-6">
                    <h4>私有仓库：</h4>
                    {% for i in gitprivate %}
                        <p>{{ i.address }}</p>
                    {% endfor %}
                    </div>
                    </div>
                    <div class="col-lg-12">
                    <div class="col-lg-4">
                    <h4>前端域名：</h4>
                    {% for i in domains %}
                        <p>{{ i.name }}  {{ i.supplier }}</p>
                    {% endfor %}
                    </div>
                    <div class="col-lg-4">
                    <h4>代理域名：</h4>
                    {% for i in ag_domains %}
                        <p>{{ i.name }}  {{ i.supplier }}</p>
                    {% endfor %}
                    </div>
                    <div class="col-lg-4">
                    <h4>后台域名：</h4>
                    {% for i in backend_domains %}
                        <p>{{ i.name }}  {{ i.supplier }}</p>
                    {% endfor %}
                    </div>
                    </div>
                    
                    <h4>服务器配置：</h4>
                    {% if servers %}
                    {% for i in servers %}
                    <p class="bg-info"><b>{{ i.name }}:</b> {{ i.remoteip }}</p>
                        {% if i.name == "源站" %}
                        <p>配置文件存放目录: "/usr/local/nginx/conf/vhost/"</p>
                        <p>源码目录: {{ i.remotedir }}</p>
                        <p>属主: {{ i.owner }}</p>
                        <p>排除文件: {{ i.exclude }}</p>
                        <p>代码部署前命令: {{ i.rsync_command }}</p>
                        <p>代码部署后命令: {{ i.last_command }}</p>
                        {% else %}
                        <p>配置文件存放目录: "/usr/local/nginx/conf/vhost/"</p>
                        {% endif %}
                    {% endfor %}
                    {% else %}<p>没有配置{{ df.platform }}源站信息，请联系运维！</p>{% endif %}
                </div>
            {% else %}
                <div class="timeline-body" id="task_body_id">
                    <h4>代码仓库：</h4>
                    {% for i in gitprivate %}
                        <p>{{ i.address }}   分支：{% if classify == 'fabu' %}master{% else %}{{ i.branch }}{% endif %}</p>
                    {% endfor %}
                    <h4>服务器配置：</h4>
                    {% if servers %}
                    {% for i in servers %}
                    <p class="bg-info"><b>{{ i.name }}:</b> {{ i.remoteip }}</p>
                    <p>配置文件存放目录: "/usr/local/nginx/conf/vhost/"</p>
                    <p>源码目录: {{ i.remotedir }}</p>
                    <p>属主: {{ i.owner }}</p>
                    <p>排除文件: {{ i.exclude }}</p>
                    <p>代码部署前命令: {{ i.rsync_command }}</p>
                    <p>代码部署后命令: {{ i.last_command }}</p>
                    {% endfor %}
                    {% else %}<p>没有配置{{ df.platform }}源站信息，请联系运维！</p>{% endif %}
                </div>
            {% endif %}
        </div>
        
    </li>
<!-- 发布任务结束 -->
<!-- 更新任务开始 -->
    {% elif classify == 'gengxin' %}
    <li>
        <!-- timeline icon -->
        <i class="fa fa-wrench bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>
            <h3 class="timeline-header"><a href="#">自动配置</a></h3>
            <div class="timeline-body" id="task_body_id">
                <h4>更新方式：</h4>
                    <p>{{ name }}：{{ repo }}</p>
                {% if deploy_data %}
                    <h4>当前版本<small>(目前在使用中的版本)</small>：</h4>
                        <p>{{ deploy_data.now_reversion }}</p>
                    <h4>上次版本<small>(更新申请发出前一秒的版本或更新完成前一秒的版本)</small>：</h4>
                        <p>{{ df.last_version }}</p>
                    <h4>更新版本：</h4>
                        {% if deploy_data.platform == "现金网" %}
                            <p>日期：{{ df.execution_time|date:"Y-m-d H:i:s" }} WEB({{ df.web_branches }})：{{ df.web_release }} PHP电脑端({{ df.php_pc_branches }})：{{ df.php_pc_release }} PHP手机端({{ df.php_mobile_branches }})：{{ df.php_moblie_release }} JS电脑端({{ df.js_pc_branches }})：{{ df.js_pc_release }} JS手机端({{ df.js_mobile_branches }})：{{ df.js_mobile_release }}</p>
                        {% elif deploy_data.platform == "蛮牛" %}
                            <p>日期：{{ df.execution_time|date:"Y-m-d H:i:s" }} WEB({{ df.web_branches }})：{{ df.web_release }} PHP-Pub代码({{ df.php_pc_branches }})：{{ df.php_pc_release }} 前端-Pub代码({{ df.js_pc_branches }})：{{ df.js_pc_release }} PHP-Config代码({{ df.config_branches }})：{{ df.config_release }}</p>
                        {% else %}
                            <p>日期：{{ df.execution_time|date:"Y-m-d H:i:s" }} 分支：{{ branch }}版本：{{ version }}</p>
                        {% endif %}
                {% else %}
                    <h4>涉及站点：</h4>
                        <p>全站</p>
                {% endif %}
                <h4>具体变更(commit_id)：</h4>
                    <p>分支：{{ branch }}</p>
                    <p>详情：</p>
                    <!-- {% for i in version_details %}<p>{{ i }}</p>{% endfor %} -->
                    <p>{{ version_details }}</p>
            </div>
        </div>
    </li>
<!-- 更新任务结束 -->
<!-- sql任务开始 -->
    {% else %}
    <li>
        <i class="fa fa-wrench bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>
            <h3 class="timeline-header"><a href="#">SQL申请详情</a></h3>
            <div class="timeline-body" id="task_body_id">
                <h4>数据库配置:</h4>
                    <p>名称: {{ sql_conf.name }}</p>
                    {% if sql_conf.pub_vip %}<p>公网VIP: {{ sql_conf.pub_vip }} 端口:{{ vip_port }}</p>{% endif %}
                    {% if sql_conf.local_vip %}<p>内网VIP: {{ sql_conf.local_vip }} 端口:{{ vip_port }}</p>{% endif %}
                {% if sql_conf.cluster %}
                <h4>集群配置:</h4>
                    <p>主节点:{{ sql_conf.master_node }}</p>
                    <p>从节点:{{ sql_conf.slave_node }}</p>
                {% else %}
                <h4>单点配置:</h4>
                    <p>节点:{{ sql_conf.master_node }}</p>
                {% endif %}
                    <p>使用端口:{{ sql_conf.port }}</p>
                <h4>sql申请内容:</h4>
                    <p>数据库:{{ df.database }}</p>
                    {% if df.sql_type == "file" %}
                    <p>文件名: {{ df.statement }} <a href="{% url 'sql_download' df.file_name %}" class="btn btn-xs btn-info" download="{{ df.statement }}">点击下载文件</a></p>
                    <p>MD5值: {{ df.md5v }}</p>
                    {% else %}
                    <p>语句: {{ df.statement }}</p>
                    {% endif %}
            </div>
        </div>
    </li>
<!-- sql任务结束 -->
    {% endif %}

<!--审核任务开始 -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-users bg-aqua"></i>
        
        <div class="timeline-item">
            
            <h3 class="timeline-header"><a href="#">任务审核情况</a></h3>
            <div class="timeline-body">
            {% for k,v in res.items %}
                {% if v.status == "该组已通过" %}
                <div class="btn btn-app bg-olive" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-check"></i></span></div>
                
                {% elif v.status == "该组未通过" %}
                <div class="btn btn-app bg-close" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-times"></i></span></div>
                {% else %}
                <div class="btn btn-app bg-default" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-pause"></i></span></div>
                {% endif %}
                <div id="text_{{ k }}" hidden="hidden">{% for i in v.member %}{{ i.name }}: {% if i.isaudit %}{% if i.ispass %}已通过{% else %}未通过{% endif %}{% else %}未审核{% endif %} 时间：{{ i.time }} @{% endfor %}</div>
            {% endfor %}
            </div>
        </div>
        
    </li>
<!--审核任务结束-->


<!-- 日志开始 -->
    {% if df.islog %}
    <li class="time-label">
        <span class="bg-green">
            {{ data.end_date.date }}
        </span>
    </li>
    <li>
        <!-- timeline icon -->
        <i class="fa fa-file-text-o bg-purple"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.end_date.time }}</span>

            <h3 class="timeline-header"><a href="#">日志</a></h3>

            <div class="timeline-body" id="log_body_id">
                {% if data.table_name == "sql_apply" %}
                <h4>内容:</h4>
                    <pre class="text-success">{{ dflog }}</pre>
                {% else %}
                {% for i in  dflog %}
                <h4>记录时间：</h4>
                    <p>{{ i.create_time }}</p>
                <h4>内容：</h4>
                    <pre class="text-success">{{ i.log }}</pre>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endif %}
<!-- 日志结束 -->
    {% endif %}
<!-- 任务有效结束 -->

    <li>
      <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>



</div>
<script type="text/javascript">
    function mouseOver(id) {
        var comment = $("#text_"+id).text();
        var comment = comment.replace(/@/g,'<br>')

        // alert(comment)

        layer.tips(comment,"#demo_"+id,{tips: [1,'#78BA32'],time: 0,area: '250px'});
    }
    function mouseOut() {
        layer.closeAll();
    }
</script>


<script type="text/javascript">
    $('#task_body_id').readmore({
        moreLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>',
        lessLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>'
    })
    $('#log_body_id').readmore({
        moreLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>',
        lessLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>'
    })
</script>


{% endblock %}