{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} 审核|Audit {% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}


{% block assistant-header %} 
    <h4>待处理任务</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">我的未处理</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-12">
        <div class="box">
        <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>申请时间</th>
                        <th>名称</th>
                        <th>原因</th>
                        <th>申请人</th>
                        <th>审核人</th>
<!--                         <th>审核组</th> -->
                        <th>是否通过</th>
                        <th>状态</th>
                        <th>批注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in data %}
                        <tr class="info">
                            <td>{{ v.create_date|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ v.request_task.name }}</td>
                            <td>{{ v.request_task.memo }}</td>
                            <td>{{ v.request_task.initiator }}</td>
                            <td>{{ v.auditor }}</td>
                            <!-- <td>{{ v.audit_group_id }}</td> -->
                            <td>{% if v.isaudit %}{% if v.ispass %}已通过{% else %}未通过{% endif %}{% else %}未审核{% endif %}</td>
                            <td>{{ v.request_task.status }}</td>
                            <td>{{ v.postil }}</td>
                            <td>
                            {% if not v.loss_efficacy %}
                                {% if v.isaudit %}
                                    已审核
                                {% else %}
                                    {% if v.request_task.types == "fbconfirm" %}
                                        <a href="{% url 'confirm_mytask' v.id  %}" class="btn btn-xs btn-success">复核</a>
                                    {% else %}
                                        <a href="{% url 'audit_my_task' v.id %}" class="btn btn-xs btn-info">审核</a>
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'my_task_details' v.request_task.id %}" target="_blank" class="btn btn-xs btn-primary">详情</a>
                                {% if one_key %}
                                    <a href="{% url 'one_key_task' v.id %}" class="btn btn-info btn-xs">一键审核</a>
                                {% endif %}
                                {% if request.user.username == "wuhf" %}
                                    <a href="{% url 'audit_my_task' v.id %}" class="btn btn-xs btn-info">调试</a>
                                {% endif %}
                            {% else %}
                                已作废
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            </div>
  </div>


</div>

<script>
  $(function () {
    $("#example1").DataTable(
        {"order":[[0,'desc']]}

        );
  });

    $(".btn-info").on("click", function(event){ //一般更新
         var url= $(this).attr('href');
        layer.open({
            type: 2,
            title: false,
            skin: 'layui-layer-rim',
            maxmin: false,
            shade: 0.5,
            shadeClose: false, //点击遮罩关闭层
            area : ['300px' , '250px'],
            end : function () {
              location.reload();
          },
            content: [url,'no']
        });
         event.preventDefault();
    });

    $(".btn-success").on("click", function(event){ //一般更新
         var url= $(this).attr('href');
        layer.open({
            type: 2,
            title: "复核页",
            maxmin: false,
            scrollbar: true,
            skin: 'layui-layer-rim',
            shade: 0.5,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '90%'],
            end : function () {
              location.reload();
          },
            content: url,
        });
         event.preventDefault();
    });



</script>
{% endblock %}