{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 网站详情{% endblock %}

{% block head %} 
<!-- <link rel="stylesheet" href="/static/css/from_cs/jquery.validator.css">
<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>
<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script> -->
{% endblock %}



{% block content %}
<div class="row col-lg-12">
    <div class="box">
        <div class="box-body">
        <div class="col-lg-12">
            <h4 class="text-center"><i class="fa  fa-object-group bg-orange" aria-hidden="true"></i> <strong class="text-info">{{ data.name }}-更新</strong></h4><hr>
                <form role="form" action="" method="post" id="post_form">{% csrf_token %}
                    <div class="form-group ">
                        <label class="text-right bolder" for="id_site">当前版本<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                            <pre>{{ data.now_reversion }}</pre>
                        <div class="help-block"></div>
                        <label class="text-right bolder" for="id_site">历史版本<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                        
                            <pre>{% for i in old_reversion %}{{ i }}<a href="#">回退</a><br>{% endfor %}</pre>
                        
                            <a href="{% url 'version_list' data.id %}" target="_blank">点击查看更多</a>
                    </div>
                    {% if data.islock %}
                        <div class="form-group">
                        {% for i in WaitTask %}
                            <h3 class="text-danger"> 此项目有未完成提交</h3>
                            <h6>名称：{{ i.name }} </h6>
                            <h6>原因：{{ i.memo }} </h6>
                            <p>版本：{{ i.details }}</p>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% if data.platform == "现金网" %}
                            <div class="form-group ">
                                <label class="text-right bolder" for="id_command">更新类型<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                                <select class="form-control n-invalid" id="id_command" name="command" aria-required="true">
                                    <option value="">---SELECT---</option>
                                    <option value="web">web更新</option>
                                    <option value="php_pc">PHP电脑端更新</option>
                                    <option value="php_mobile">PHP手机端更新</option>
                                    <option value="js_pc">JS电脑端更新</option>
                                    <option value="js_mobile">JS手机端更新</option>
                                </select>
                                <div class="help-block"></div>
                            </div>
                        {% elif data.platform == "蛮牛" %}
                            <div class="form-group ">
                                <label class="text-right bolder" for="id_command">更新类型<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                                <select class="form-control n-invalid" id="id_command" name="command" aria-required="true">
                                    <option value="">---SELECT---</option>
                                    <option value="web">web更新</option>
                                    <option value="php">PHP-Pub更新</option>
                                    <option value="js">前端-Pub更新</option>
                                    <option value="config">PHP-Config更新</option>
                                </select>
                                <div class="help-block"></div>
                            </div>
                        {% else %}
                            <div class="form-group " hidden="hidden">
                                <label class="text-right bolder" for="id_command">更新类型<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                                <select class="form-control n-invalid" id="id_command" name="command" aria-required="true">
                                    <option value="web" selected="selected">web更新</option>
                                </select>
                                <div class="help-block"></div>
                            </div>
                        {% endif %}
                        <div class="form-group ">
                            <label class="text-right bolder" for="id_branch">代码分支<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                            <select class="form-control n-invalid" id="id_branch" name="branch" aria-required="true">
                                {% for i in all_branch %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group " id="id_args">
                            <label class="text-right bolder" for="id_release">版本号(commit_id)<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                            <select class="form-control n-invalid" id="id_release" name="release" aria-required="true">
                                {% for i in web_commits %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label class="text-right bolder" for="id_memp">更新原因<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                            <textarea class="form-control" rows="3" name="memo" id="id_memo" ></textarea>
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-success btn-lg" id="id_submit"> 提交 </a>
                        </div>
                    {% endif %}
                </form>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#id_submit').on("click",function(){
        var memo = $('#id_memo').val();
        var method = $('#id_command').val();
        var release = $('#id_release').val();
        var branch = $("#id_branch").val();
        var urls= "{% url 'web_update_code' data.id %}";
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'POST',
            data: {  
                'memo': memo, 
                'method': method, 
                'release': release, 
                'branch': branch, 
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function(data) { 
                if (data.res == "OK") {
                    parent.layer.closeAll();
                }
                },
        });
    });
</script>

<script type="text/javascript">
$("#id_command").change(function(){

     // 先清空第二个
      $("#id_branch").empty();
      $("#id_release").empty();
      layer.load();
     // 实际的应用中，这里的option一般都是用循环生成多个了
        var urls = "/fabu/git_batch_change/"+{{ uuid }}+"/"
        var method = $('#id_command').val();
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data: {  
                'method': method,
                'env': "moneyweb",
            },
            success: function(data) { 
                if (data.res == "OK") {
                    for (i in data.commit) {
                        var option = $("<option>").val(data.commit[i]).text(data.commit[i]);
                        $("#id_release").append(option);
                    };
                    for (i in data.branches) {
                        var option = $("<option>").val(data.branches[i]).text(data.branches[i]);
                        $("#id_branch").append(option);
                    };
                };
                layer.closeAll('loading');
                },
        });

});
$("#id_branch").change(function(){
     // 先清空第二个
      $("#id_release").empty();
      layer.load();
     // 实际的应用中，这里的option一般都是用循环生成多个了
        var urls = "/fabu/git_batch_change/"+{{ uuid }}+"/"
        var method = $('#id_command').val();
        var branch = $("#id_branch").val();
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'GET',
            data: {  
                'method': method, 
                'branch': branch, 
                'env': "moneyweb", 
            },
            success: function(data) { 
                if (data.res == "OK") {
                    for (i in data.commit) {
                        var option = $("<option>").val(data.commit[i]).text(data.commit[i]);
                        $("#id_release").append(option);
                    };
                };
                layer.closeAll('loading');
                },
        });
});
</script>



{% endblock  %}