{% extends "default/base.html" %}
{% block title %}white{% endblock %}

{% block assistant-header %} 白名单
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">自动化管理</a></li>
        <li><a href="#">后台白名单</a></li>
    </ol>

{% endblock %}
{% load bootstrap %}

{% block content %}
<div class="box box-info">

    <div class="box-body">
        <table class="table">
            <thead>
            <th>名称</th>
            <th>服务器</th>
            <th>文件绝对路径</th>
            <th>是否重启</th>
            </thead>
        </table>
    </div>
<!--    <div class="box-footer">
        Footer
    </div> -->
</div>
{% endblock %}