{% extends "default/base_layer.html" %}


{% block assistant-header %} White List Plus {% endblock %}
{% load bootstrap %}

{% block head %}
<!-- <link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script> -->

 {% endblock %}


{% block content %}

<div class="col-lg-12">
<div class="box box-info">
  <div class="box-header with-border">
    <h4 class="text-primary">在172.25.8.38和172.25.8.39上添加防火墙</h4>
  </div>
  <div class="box-body">
    <form role="form" action="" method="post" class="form-horizontal">{% csrf_token %}
      <dir class="form-group col-lg-12">
        <p><label>请输入vpn_ip:</label></p>
          <input class=" form-control" id="id_ipaddr" maxlength="15" name="ipaddr" type="text" placeholder="0.0.0.0">
        <p><label>备注:</label></p>
          <input class=" form-control" id="id_memo" name="memo" type="text">
      </dir>

      <dir class="form-group col-lg-12">
        <a href="javascript:;" name="okk" class="btn btn-info" id="testid">
          <span class="glyphicon glyphicon-ok"></span> 提交
        </a>
        </dir>
      </form>
  </div>
</div>
</div>
<script type="text/javascript">
  $("#testid").on('click',function(event) {
    // layer.msg("hello world!")
    var url = "{% url 'iptables' %}";
    $.ajax({
      url: url,
      data: $('.form-horizontal').serialize(),
      type: "POST",
      dataType: "Json",
      success: function(data) {
        if (data.res=="falid") {
          layer.msg(data.info);
        } else { parent.layer.closeAll(); }
      },
    });
  });
</script>


{% endblock %}