{% extends "default/base.html" %}
{% block title %}白名单{% endblock %}

{% block assistant-header %} 后台管理|Management {% endblock %}
{% load bootstrap %}

{% block content %}

<div class="box">
	<div class="box-header with-border">
		<h4 class="text-primary">添加vpn线路</h4>
		<div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
        </div>
	</div>
	<div class="box-body">
	{% if ff.errors %}
    	<p style="color:red;"> 请修改下面出现的错误 </p>
	{% endif %}
	{% for e in fo_errors %}
	    <p style="color:red;">{{ e }} <br /></p>
	{% endfor %}
	<form role="form" action="" method="post">{% csrf_token %}
		<dir class="form-group col-lg-12">
			<p><label>请输入ip地址:</label></p>
			<p>{{ ff.ipaddr }}
			{{ ff.ipaddr.errors }}</p>

			<p><label>请输入站点名称:</label></p>
			<p>{{ ff.comment }}
			{{ ff.comment.errors }}</p>
			<p><label>请选择后端平台:</label></p>
			<p>{{ ff.remark }}
			{{ ff.remark.errors }}</p>
		</dir>
		<div>
			<p>Your Task is <span id="user-count"></span>!</p>
			<div class="progress active">
				<div class="progress-bar progress-bar-success progress-bar-striped bar" id="id_bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">20% Complete</span></div>
			</div>
		</div>
		<dir class="form-group col-lg-12">
			<button type="reset" name="reset" class="btn btn-info">
				<span class="glyphicon glyphicon-ok"></span> 重置
			</button>
			<button type="submit" name="okk" class="btn btn-info" id="testid">
				<span class="glyphicon glyphicon-ok"></span> 添加
			</button>
	    </dir>
    </form>

	</div>
</div>

<div class="box">
	<div class="box-header with-border">
		<h4 class="text-primary">规则清单</h4>
		<div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
        </div>
	</div>
	<div class="box-body">

		<div class="table-responsive">
			<p>目前共有 {{ view_rules|length }} 条规则</p>
			<table class="table table-hover table-striped">
				<tr>
					<th>IP地址</th>
					<th>站点备注</th>
					<th>新站老站</th>
					<th>添加时间</th>
					<th>添加用户</th>
				</tr>
			{% for v in view_rules %}
				<tr>
					<td>{{ v.i_source_ip }}</td>
					<td>{{ v.i_comment }}</td>
					<td>{{ v.i_tag }}</td>
					<td>{{ v.i_date_time }}</td>
					<td>{{ v.i_user }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>

	</div>
</div>


<script type="text/javascript">
document.getElementById("testid").onclick=displayDate();



function displayDate()
{
      var task_id = "{{ task_id }}";
      console.log(task_id);
      var willstop = 0;
      var width = 0;
      var poll = function(){
        $.ajax({
          url: "{% url 'poll_state' %}",
          type: 'GET',
          data: {
            task_id: task_id,
          },
          success: function(result) {
            if (result == "SUCCESS") {
              document.getElementById("user-count").textContent="SUCCESS";
              jQuery('.bar').css({'width': 100 + '%'});
              jQuery('.bar').html(100 + '%');
              willstop = 1;
            } else if (result == "PROGRESS") {
              document.getElementById("user-count").textContent="PROCRESSING";
              if (parseInt(width) < 90 ) {
                width ++;
                jQuery('.bar').css({'width': width + '%'});
                jQuery('.bar').html(width + '%');
              } else {
                width = 90;
                jQuery('.bar').css({'width': width + '%'});
                jQuery('.bar').html(width + '%');
              };
            } else {
              document.getElementById("user-count").textContent="NODEFINE";
              willstop = 1;

            };
          }
        });
      };

      var refreshIntervalId = setInterval(function() {
        poll();
        if(willstop == 1){
          clearInterval(refreshIntervalId);
        }
      },500);

};

</script>


{% endblock %}