{% extends "default/base.html" %}
{% block title %}Change Page{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/morris/morris.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>


<script src="/static/admin-test/plugins/morris/morris.min.js"></script>



{% endblock %}

{% block assistant-header %} 网站信息|Change Line {% endblock %}

{% block content %}

<div class="row">

    <div class="col-lg-12">
        <div class="col-md-3">
        {% for i in rules0 %}
        <p><h3>
        <a href="javascript:;" class="label label-primary pull-data" id="{{ i.uuid }}">{{ i.name }} <span class="badge bg-purple">{{ i.nic_name }}</span></a>
        </h3></p>{{ i.front_station }}
        {% endfor %}
        </div>
        <div class="col-md-3">
            {% for i in rules1 %}
            <p><h3>
            <a href="javascript:;" class="label label-info pull-data" id="{{ i.uuid }}">{{ i.name }} <span class="badge bg-purple">{{ i.nic_name }}</span></a>
            </h3></p>{{ i.front_station }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for i in rules2 %}<p><h3>
            <a href="javascript:;" class="label label-success pull-data" id="{{ i.uuid }}">{{ i.name }} <span class="badge bg-purple">{{ i.nic_name }}</span></a>
            </h3></p>{{ i.front_station }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for i in rules3 %}<p><h3>
            <a href="javascript:;" class="label label-warning pull-data" id="{{ i.uuid }}">{{ i.name }} <span class="badge bg-purple">{{ i.nic_name }}</span></a>
            </h3></p>{{ i.front_station }}
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".pull-data").on("click", function(event){
         var choice = $(this).attr('id')

         var url= "pulldata/"+choice;
         // layer.msg('Hello layer');
            layer.open({
                type: 2,
                title: false,
                skin: 'layui-layer-rim',
                maxmin: false,
                shade: 0.5,
                shadeClose: true, //点击遮罩关闭层
                area : ['600px' , '500px'],
                content: [url,'no']
            });
         event.preventDefault();
    });

</script>
{% endblock %}