{% extends "default/base.html" %}
{% block title %}白名单{% endblock %}

{% block assistant-header %} 外接白名单|{{ conf.name }} {% endblock %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>

 {% endblock %}


{% block content %}


<div class="box box-info">
    
    <div class="box-header">
        <div class="col-md-6">
          <div class="input-group input-group-sm pull-left" style="width: 300px;">
            <input type="text" name="table_search" id="id_table_search" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <a href="javascript:;" class="btn btn-default" id="id_btn_search"><i class="fa fa-search"></i></a>
              <a href="javascript:;" class="btn btn-default" id="id_btn_plus"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
        {% if data %}
        <div class="box-tools col-md-6">
          <ul class="pagination pagination-sm no-margin pull-right">
          {% if data.has_previous %}
            <li><a class='paginator' title='上一页' href='?page={{ data.previous_page_number }}'>«</a></li>
          {% endif %}
          {% for page in data.paginator.page_range_ext %}
            {% if page == data.number %}
              <li><a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a></li>
            {% else %}
              <li><a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a></li>
            {% endif %}
          {% endfor %}
          {% if data.has_next %}
            <li><a class='paginator' title='下一页' href='?page={{ data.next_page_number }}'>»</a></li>
          {% endif %}
          </ul>
        </div>
        {% endif %}
    </div>
    
    <div class="box-body">
      <table class="table">
        <thead>
          <th>IP地址</th>
          <th>规则</th>
          <th>备注</th>
          <th>添加时间</th>
          <th>执行用户</th>
          <th>操作</th>
        </thead>
        <tbody id="tbody">
          {% for i in data %}
            <tr class="daemon">
              <td>{{ i.host_ip }}</td>
              <td>{{ i.host_key }}</td>
              <td>{{ i.memo }}</td>
              <td>{{ i.ctime|date:"Y-m-d H:i:s" }}</td>
              <td>{{ i.user }}</td>
              <td><a href="javascript:;" class="btn btn-danger btn-xs delete-ip" name="delete" id={{ i.id }}><span class="fa fa-remove"></span></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

<script type="text/javascript">
  $("#id_btn_search").on('click',function(event) {
    var search_comment = $('#id_table_search').val()
    if (search_comment) {
      $.ajax({
        url: "#",
        type: "GET",
        data: {
          "comment": search_comment
        },
        success: function(data) {
          if (data.res=="OK") {
            $(".daemon").remove();
            for (var key in data.info) { 
                var option = $('<tr class="daemon"><td>'+data.info[key].ip+'</td><td>'+data.info[key].comment+'</td><td>'+data.info[key].date+'</td><td>'+data.info[key].user+'</td><td><a href="javascript:;" class="btn btn-danger btn-xs delete-ip" name="delete" id='+data.info[key].uuid+'><span class="glyphicon glyphicon-remove"></span></a></td></tr>');
                $("#tbody").append(option);
            };
          } else { layer.msg("没有可用信息！") }
        },
      })
    }
  });


$("#id_btn_plus").on('click',function(event) {
  var url = "{% url 'api_white_table_add' id %}";
  var height = $(window).height();
  layer.open({
    type: 2,
    title: '添加白名单',
    maxmin: false,
    shade: 0.5,
    shadeClose: false,
    area: ['800px','400px'],
    end : function () {
      location.reload();
    },
    content: url
  });
});


$("#tbody").on('click','.delete-ip',function(event){
      var choice = $(this).attr('id');
      alert(choice);
      var url= "/allow/iptables_delete/"+choice+"/";
      layer.alert("确定删除吗？",{
          skin: 'layui-layer-molv',
          closeBtn: 2,
          shift: 4,
      },function(index){
          layer.close(index);
          $.get(url).done(function(data) {
              window.location.reload();
          });
      });
      event.preventDefault();
});


</script>

{% endblock %}