{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 网站详情{% endblock %}

{% block head %} 
<!-- <link rel="stylesheet" href="/static/css/from_cs/jquery.validator.css">
<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>
<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script> -->
{% endblock %}



{% block content %}
<div class="row col-lg-12">
    <div class="box">
        <div class="box-body">
        <div class="col-lg-12">
            <h4 class="text-center"><i class="fa  fa-object-group bg-orange" aria-hidden="true"></i> <strong class="text-info">{{ data.name }}</strong></h4><hr>
            <form role="form" class="form-horizontal" action="" method="post" id="post_form">{% csrf_token %}
                <div class="form-group " id="id_args">
                    <label class="text-right bolder" for="id_monitor_url">使用域名<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                    <input class="form-control" type="text" id="id_monitor_url" name="monitor_url" placeholder="请输入再用域名" value="{{ data.reserve_a }}">
                </div>
                <table data-toggle="table" data-row-style="rowStyle" class="table table-hover table-bordered">
                    <tr>
                        <th>域名</th>
                        <th>解析地址</th>
                    </tr>
                    <tr>
                        <td>{{ data.reserve_a }}</td>
                        <td>{{ iplist }}</td>
                    </tr>
                </table>
                <div class="form-group">
                    <a href="javascript:;" class="btn btn-success btn-lg" id="id_submit"> 提交 </a>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('#id_submit').on("click",function(){

    var urls= "{% url 'allow_pull_data' data.uuid %}";
    jQuery.ajax({
        url: urls,                  // 提交的页面
        data: $('.form-horizontal').serialize(), // 从表单中获取数据
        type: "POST",                       // 设置请求类型为"POST"，默认为"GET"
        dataType:'text',
        success: function(data){
            parent.layer.closeAll();
        }
    });
});
</script>


{% endblock  %}