{% extends "default/base_layer.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
<script type="text/javascript" src="/static/layui/layui.js"></script>
{% endblock %}


{% block content %}
<div class="layui-container">
    <div class="layui-row">
    <div class="box box-info">
        <div class="box-header">
            <h1 class="text-center">{{ topname }} <small>子项目列表</small></h1><hr>
            <div class="input-group">
                <input type="text" class="form-control" id="id_search" placeholder="名称 / IP">
                <span class="input-group-addon" id="basic-addon1"><i class="layui-icon layui-icon-search"></i> </span>
            </div>
        </div>
        <div class="box-body">
            <table id="subTable" class="layui-hide" lay-filter="subTle"></table>
        </div>
    </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">

  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" lay-event="delData">删除</button>
    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" lay-event="addData">添加</button>
  </div>
</script>
<script type="text/html" id="switchTpl">
  {% verbatim %}
  <input type="checkbox" name="online" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="sexDemo" {{ d.useParentConf == 1 ? 'checked' : '' }}>
  {% endverbatim %}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="editServers">目标服务器</a>
</script>

<script>

layui.use('table', function(){
    var t=layui.table
    ,layer = layui.layer
    ,form = layui.form
    ,laytpl = layui.laytpl;
    t.render({
        elem: '#subTable'
        ,url: "{% url 'sapi' %}"
        ,where: {action: "get","tid": {{tid}}}
        ,cellMinWidth: 80 //列自小寬度
        ,height: 'full-200'
        ,toolbar: '#toolbarDemo'
        ,page: {
            layout: ['count', 'limit', 'prev', 'page', 'next', 'skip']
            ,groups: 1
            ,first: false
            ,last: false
        }
        ,limit: 15 //最多顯示條數
        ,limits:[15,30,45,60,75,90,105]
        // ,even: true //隔行背景
        // ,skin: 'line'
        ,cols: [[
            {type:'checkbox'}
            ,{field:'id', title: 'ID', width:80, hide: true}
            ,{field:'name', title: '名称', sort: true, edit:'text'}
            ,{field:'servers', title: '目标服务器', width:140,hide: true}
            ,{field:'filename', title: '文件路径', edit:'text'}
            ,{field:'rule', title: '匹配规则', width: 200, edit:'text'}
            ,{field:'hook', width:120, title: '钩子',edit:'text'}
            ,{field:'remark', title: '备注',edit:'text',hide:true}
            ,{field:'useParentConf', width:120, title: '继承配置',templet: '#switchTpl', unresize: true}
            ,{fixed: 'right', title: '操作', width:100, align:'center', toolbar: '#barDemo'}
        ]]
        ,id: "subTableId"
    });
    t.on('edit(subTle)', function(obj){
        var field = obj.field;
        if (field=='name') {
            action="edit_name"
        } else if (field=='filename') {
            action="edit_filename"
        } else if (field=='rule') {
            action="edit_rule"
        } else if (field=='hook') {
            action="edit_hook"
        } else if (field=='remark') {
            action="edit_remark"
        } else {action="none"}
        $.get("{% url 'sapi' %}",{"tid":{{tid}},"id":obj.data.id,"action":action,"value":obj.value},function(res) {
            layer.msg(res.msg);
        });
    });
    t.on('toolbar(subTle)', function(obj){
        var checkStatus = t.checkStatus(obj.config.id);
        switch(obj.event){
            case 'addData':
                layer.open({
                    type: 2,
                    title: false,
                    skin: 'layui-layer-rim',
                    maxmin: false,
                    shade: 0.5,
                    closeBtn: 0,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '830px'],
                    end : function () {
                      t.reload('subTableId',{url: "{% url 'sapi' %}",where: {action: "get","tid": {{tid}}}});
                  },
                    content: ["{% url 'spadd' tid %}",'yes']
                });
            break;
            case 'delData':
                var data = checkStatus.data;
                if (+data === 0) {  //判断数组是否为空
                    layer.msg("请选择数据后再操作!");
                    break;
                };
                var ids = new Array(); 
                for (i in data) {
                    ids.push(data[i].id) //添加id到数组ids中
                };
                // layer.msg(JSON.stringify(ids)); 
                layer.confirm('确定删除么?', function(index){
                  urls="{% url 'sapi' %}";
                  jQuery.get(urls,{id:JSON.stringify(ids),"action":"del"},function(res){
                      layer.msg(res.msg);
                      t.reload('subTableId',{url: "{% url 'sapi' %}",where: {action: "get","tid": {{tid}}}});
                  });
                  layer.close(index);
                });
            break;
        };
    });
    t.on('tool(subTle)',function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;
        if (layEvent === 'editServers') {
            var sid=data.id
            layer.open({
                type: 2,
                title: false,
                skin: 'layui-layer-rim',
                maxmin: false,
                shade: 0.5,
                closeBtn: 0,
                shadeClose: true, //点击遮罩关闭层
                area : ['600px' , '500px'],
                end : function () {
                  t.reload('subTableId',{url: "{% url 'sapi' %}",where: {action: "get","tid":{{tid}}}});
              },
                content: ["/allow/spservers/?sid="+sid+"&tid="+{{tid}},'yes']
            });
        } else {}
    });
    form.on('switch(sexDemo)', function(obj){
        // layer.tips(this.value + ' ' + "状态" + ': '+ obj.elem.checked, obj.othis);
        if (this.checked) {
            layer.tips("使用父项目配置",obj.othis);
            $.get("{% url 'sapi' %}",{"id":this.value,"tid":{{tid}},"action":"edit_useParentConf","value":"True"})
        } else {
            layer.tips("使用本项目配置",obj.othis);
            $.get("{% url 'sapi' %}",{"id":this.value,"tid":{{tid}},"action":"edit_useParentConf","value":"False"})
        }
    });
    $('#id_search').on('input', function() {
        var keyword=$('#id_search').val()
        ,group = $('#id_search_group').val();
        keyword=keyword.replace(/\s+/g,"");
        if (keyword!='') {
            t.reload('subTableId',{
                url: "{% url 'sapi' %}"
                ,where: {
                    'keyword':keyword,
                    'action':"get",
                    'tid': {{tid}}
                }
                ,page: {curr: 1}
            });
        };
    });
});
</script>
{% endblock %}