{% extends "default/base_layer.html" %}


{% block assistant-header %} White List Plus {% endblock %}
{% load bootstrap %}

{% block head %}
<!-- <link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script> -->

 {% endblock %}


{% block content %}

<div class="col-lg-12">
<div class="box box-info">
  <div class="box-body">
    <form role="form" action="" method="post" class="form-horizontal">{% csrf_token %}
      <div class="form-group col-md-6">
        <label>请选择类型：</label>
        <select class="form-control select" id="id_classify" name="classify">
          <option selected="selected" value="KG-JDC">KG经典彩</option>
          <option value="MN-Backend">蛮牛后台</option>
          <!-- <option value="MONEY-Backend">现金网后台</option> -->
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>请选择网站：</label>
        <select class="form-control select" id="id_uuid" name="uuid">
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.business.name }}</option>
          {% endfor %}
        </select>
      </div>
      <dir class="form-group col-md-6">
        <label>请输入vpn_ip:</label>
          <input class=" form-control" id="id_ipaddr" maxlength="15" name="ipaddr" type="text" placeholder="0.0.0.0">
      </dir>

      <dir class="form-group col-md-6">
        <a href="javascript:;" name="okk" class="btn btn-info pull-center" id="testid">
          <span class="glyphicon glyphicon-ok"></span> 提交
        </a>
        </dir>
      </form>
  </div>
</div>
</div>
<script type="text/javascript">
  $("#testid").on('click',function(event) {
    // layer.msg("hello world!")
    var url = "{% url 'white_add' %}";
    $.ajax({
      url: url,
      data: $('.form-horizontal').serialize(),
      type: "POST",
      dataType: "Json",
      success: function(data) {
        if (data.res=="falid") {
          layer.msg(data.info);
        } else { parent.layer.closeAll(); }
      },
    });
  });
</script>


{% endblock %}