<script src="/static/js/jquery-3.0.0.js"></script>
<!-- <script src="/static/bootstrap/js/chart.min.js"></script> -->
<!-- <script src="/static/bootstrap/js/chart-data.js"></script> -->
<!-- <script src="/static/bootstrap/js/easypiechart.js"></script> -->
<!-- <script src="/static/bootstrap/js/easypiechart-data.js"></script> -->
<!-- <script src="/static/bootstrap/js/bootstrap-datepicker.js"></script> -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/layer-v2.4/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/prettify.min.js"></script>
<script type="text/javascript" src="/static/js/multiselect.min.js"></script>
<!-- <script>
	$('#calendar').datepicker({
	});

	!function ($) {
	    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
	        $(this).find('em:first').toggleClass("glyphicon-minus");      
	    }); 
	    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
</script> -->
