{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} 添加仓库|Add repo {% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/css/from_cs/jquery.validator.css">
<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>
<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script>
{% endblock %}


{% block assistant-header %} 
    <h4>现金网发布更新配置</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'gengxin_code_list' %}">列表</a></li>
        <li><a href="{% url 'gengxin_code_add' %}">添加配置</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">
    <div class="box box-info">
    <form class="form-horizontal" action="" id="tools_add"  method="post" name="horizontal" role="form" autocomplete="off">{% csrf_token %}

        <div class="box-header with-border">
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-info btn-xs" type="reset"> 重置 </button>
                    <button class="btn btn-success btn-xs pull-right" type="submit"> 提交 </button>
                </div>
            </div>
        </div>
    <div class="box-body">
        <div>
            <div class="col-md-11">
                <h4 class="text-center">基本配置</h4><hr>
                {{ tf.name|bootstrap_horizontal }}
                {{ tf.classify|bootstrap_horizontal }}
                {{ tf.business|bootstrap_horizontal }}
            </div>
            <div class="col-md-12">
                <h4 class="text-center">审核配置</h4><hr>
                <div class="col-sm-6">{{ tf.phone_site|bootstrap_horizontal }}</div>
                <div class="col-sm-6">{{ tf.ischeck|bootstrap_horizontal }}</div>
                <div class="col-sm-6">{{ tf.period_time|bootstrap_horizontal }}</div>
                <div class="col-sm-6">{{ tf.deploy_time|bootstrap_horizontal }}</div>
                <div class="col-sm-6">{{ tf.urgent_user|bootstrap_horizontal }}</div>
                <div class="col-sm-6">{{ tf.audit_user|bootstrap_horizontal }}</div>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">线上配置</h4><hr>
                <div class="col-md-4 col-lg-4">
                    {{ tf.exclude|bootstrap_horizontal }}
                </div>
                <div class="col-md-4 col-lg-4">
                    {{ tf.remotedir|bootstrap_horizontal }}
                    {{ tf.remoteip|bootstrap_horizontal }}
                </div>
                <div class="col-md-4 col-lg-4">
                    {{ tf.rsync_command|bootstrap_horizontal }}
                    {{ tf.last_command|bootstrap_horizontal }}
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">域名配置</h4><hr>
                <div class="col-md-4 col-lg-4">
                    {{ tf.front_domain|bootstrap_horizontal }}
                </div>
                <div class="col-md-4 col-lg-4">
                    {{ tf.agent_domain|bootstrap_horizontal }}
                </div>
                <div class="col-md-4 col-lg-4">
                    {{ tf.backend_domain|bootstrap_horizontal }}
                </div>
            </div>
        </div>

    </div>
    </form>
    </div>

</div>


<script type="text/javascript">

    window.$ && $(function(){
    //验证初始化
        $('#tools_add').validator({
            //stopOnError:true,
            //timely: 2,
            theme: "yellow_right_effect",
            showOk: "",
            //自定义规则（PS：建议尽量在全局配置中定义规则，统一管理）
            rules: {
                check_node: [/^(\w)+(\-)*(\w)+$/, '主机名不正确'],
                check_mac: [/^([0-9A-Fa-f]{2})(-[0-9A-Fa-f]{2}){5}|([0-9A-Fa-f]{2})(:[0-9A-Fa-f]{2}){5}$/, 'MAC不正确'], //验证mac
                check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip不正确']
            },
        fields: {
            "name": {
                rule: "required",
                tip: "选择工具",
                ok: "",
                msg: {required: "必须填写!"},
            },
        },
        valid: function(form) {
            form.submit();
        }
    });
    });

</script>
<script>
var numo = 1;
//定义网卡的js
    function addTable(){
        var tableHtml ="";
        tableHtml += '<tr id="tr'+numo+'">'
                 +'<td><input class="form-control" id="id_repo_name'+numo+'" type="text" placeholder="svn://xxxx/1001" name="repo_name'+numo+'" /></td>'
                 +'<td><input class="form-control" id="id_repo_username'+numo+'" type="text" name="repo_username'+numo+'" /></td>'
                 +'<td><input class="form-control" id="id_repo_password'+numo+'" type="text" name="repo_password'+numo+'" /></td>'
                 +'<td><input class="form-control" id="id_export_dir'+numo+'" name="export_dir'+numo+'" placeholder="/data/huidu/export/1001/Web"></td>'
                 +'<td><a class="btn btn-primary" onclick="removeTr('+numo+')">移除</a></td>'
                 +'</tr>';
        
        var elements = $("#myTable").children().length;    //表示id为“mtTable”的标签下的子标签的个数
        
        $("#myTable").children().eq(elements - 1).after(tableHtml); //在表头之后添加空白行
        numo++;
    }

//移除行
function removeTr(trNum){
    $("#tr"+trNum).remove();
}

</script>
<script type="text/javascript">

    window.$ && $(function(){
    //验证初始化
        $('#tools_add').validator({
            //stopOnError:true,
            //timely: 2,
            theme: "yellow_top",
            showOk: "",
            //自定义规则（PS：建议尽量在全局配置中定义规则，统一管理）
            rules: {
                check_node: [/^(\w)+(\-)*(\w)+$/, '主机名不正确'],
                check_mac: [/^([0-9A-Fa-f]{2})(-[0-9A-Fa-f]{2}){5}|([0-9A-Fa-f]{2})(:[0-9A-Fa-f]{2}){5}$/, 'MAC不正确'], //验证mac
                check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip不正确']
            },
        fields: {
             "name":{
                rule: "required;",
                tip: "",
                ok:"",
                msg:{required: "必须填写!"}
            },
             "business":{
                rule: "required;",
                tip: "",
                ok:"",
                msg:{required: "必须填写!"}
            },
            "urgent_user":{
                rule: "required;",
                tip: "选择紧急审核urgent",
                ok:"",
                msg:{required: "必须填写!"}
            },
            "audit_user":{
                rule: "required;",
                tip: "选择审核人normal",
                ok:"",
                msg:{required: "必须填写!"}
            },
            "remoteip":{
                rule: "required;",
                tip: "输入ip地址",
                ok:"",
                msg:{required: "必须填写!"}
            },
             "remotedir":{
                rule: "required;",
                tip: "/data/wwwroot/1001",
                ok:"",
                msg:{required: "必须填写!"}
            },
             "front_domain":{
                rule: "required;",
                tip: "www.xxx.com",
                ok:"",
                msg:{required: "必须填写!"}
            },
             "agent_domain":{
                rule: "required;",
                tip: "ag.xxx.com",
                ok:"",
                msg:{required: "必须填写!"}
            },
             "backend_domain":{
                rule: "required;",
                tip: "ds168.xxx.com",
                ok:"",
                msg:{required: "必须填写!"}
            }
        },
        valid: function(form) {
            form.submit();
        }
    });
    });
</script>
{% endblock content %}