{% extends "default/base.html" %}
{% block title %}脚本发布页{% endblock %}

<!-- {% block head %}
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>

 {% endblock %} -->


{% block assistant-header %}
    <h1> 脚本发布程序 <small>SCRIPT</small></h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{% url 'deploy_script' %}">脚本发布</a></li>
      </ol>
{% endblock %}

{% block content %}


<div class="row">
    <div class="box box-info">
        <div class="box-header with-border"><h4>脚本配置参数</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <dir class="col-md-4 col-lg-4">
                <form role="form" action="" method="post" id="post_form">{% csrf_token %}
                    <div class="form-group ">
                        <label class="text-right bolder" for="id_command">发布命令<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                        <select class="form-control n-invalid" id="id_command" name="command" aria-required="true" data-toggle="tooltip" title="选择发布脚本名称">
                            <option value="">--请选择--</option>
                            {% for i in data %}
                                <option value={{ i.uuid }}>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group " id="id_args">

                    </div>
                    <div class="form-group ">
                        <label class="text-right bolder" for="id_parameter">脚本参数<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>
                        <input type="text" id="id_parameter" name="parameter" class="form-control" data-toggle="tooltip" title="多个参数使用空格隔开">
                        <div class="help-block"></div>
                    </div>
                    <p>多个参数要空格</p>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg" type="submit"> 执行脚本 </button>
                    </div>
                </form>
            </dir>
            <dir class="col-md-8 col-lg-8">
            <h4><strong><a href="{% url 'script_log_list' %}" class="btn btn-primary">操作日志</a></strong></h4>
                {% for i in log_data %}
                <p class="text-primary">用户：{{ i.user }} 时间：{{ i.create_time }}</p>
                <p class="text-warning">执行脚本：{{ i.command }}</p>
                <pre class="text-success test-ppp">返回结果：{{ i.result }}</pre>

                <!-- <p class="text-success">返回结果：{% for x in i.result %}<i>{{ x }}</i>{% endfor %}</p> -->
                {% endfor %}
            </dir>
        </div>

        <div class="box-footer">
            <a href="{% url 'script_add' %}" class="btn btn-black btn-primary">添加发布脚本</a>
            <a href="{% url 'script_list' %}" class="btn btn-black btn-primary">发布脚本列表</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".test-ppp").click(function() {
        var yy = $(this).text();
        alert( yy );
})
</script>


<script type="text/javascript">
     $(function () {
         $("#id_command").change(function () {
             var tid = $("#id_command option:selected").val();
             $.ajax({
                 url: "/deploy/script_select/?uuid="+tid,
                 type: "Get",
                 contentType: "application/json",
                 dataType: "json",
                 success: function (data) {
                     var ddl = $("#id_args");
                     $("#id_args label").remove();
                     $("#id_args select").remove();
                     $("#id_args option").remove();
                     //转成Json对象
                     for ( var i = 0; i < data.length; i++) { 
                        var select_id = '"id_'+data[i].select_name+'"';
                        var option_list = data[i]["option_val"];
                        ddl.append('<label class="text-right bolder" for="id_'+data[i].select_name+'">'+data[i].select_lab+'<small class="text-danger"><i class="fa fa-star" aria-hidden="true"></i></small></label>');
                        ddl.append('<select class="form-control n-invalid" id='+select_id+' name="'+data[i].select_name+'"><option value="">--请选择--</option></select>');
                        console.log(select_id);
                        var lld = $('#id_'+data[i].select_name)
                        console.log(lld)
                        for (var x = 0; x < option_list.length; x++) {
                            lld.append('<option value="'+option_list[x]+'">'+ option_list[x]+ '</option>');
                        };
                    };
                 },
                 error: function () {
                     alert("Url Error");
                 }
             });
             $.ajax({
                 url: "/deploy/script_memo/?uuid="+tid,
                 type: "Get",
                 contentType: "application/json",
                 dataType: "json",
                 success: function (res) {
                     var xxl = $("#id_args");
                     $("#id_args p").remove();
                     $("#id_args blockquote").remove();

                     xxl.append('<blockquote><p class="text-info">'+res.res+'</p></blockquote>');
                 },
                 error: function () {
                     alert("Url Error");
                 }
             });
         });
     });

</script>
{% endblock %}
