{% extends 'default/base_layer.html' %}
{% load bootstrap %}

{% block title %} 任务详情 {% endblock %}

{% block head %} 
<style type="text/css">
p {text-indent: 1cm}
</style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/admin-test/dist/css/AdminLTE.min.css">

  <link rel="stylesheet" href="/static/admin-test/dist/css/skins/_all-skins.min.css">

{% endblock %}


{% block assistant-header %} 
    <h4>任务详情</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#">我的任务</a></li>
        <li><a href="#">任务详情</a></li>
    </ol>

{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-green">
            {{ data.create_date.date }}
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>

            <h3 class="timeline-header"><a href="#">创建申请</a></h3>

            <div class="timeline-body">
                <h4>{{ data.name }}<small>_____申请人：{{ data.initiator.first_name }}</small></h4>
            </div>
        </div>
    </li>
<!-- 任务作废开始 -->
{% if data.loss_efficacy %}
    <li class="time-label">
        <span class="bg-red">
            {{ data.end_date.date }}
        </span>
    </li>
    <li>
        <i class="fa fa-times bg-purple"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.end_date.time }}</span>
            <h3 class="timeline-header"><a href="#">任务废除</a> </h3>
            <div class="timeline-body">
                <h4>用户：{{ data.initiator }} 废除了此任务</h4>
                <p>相关审核信息已被删除！</p>
            </div>
            <div class="timeline-footer">
                <a class="btn btn-primary btn-xs">END</a>
            </div>
        </div>
        
    </li>
<!-- 任务作废结束 -->
<!-- 任务有效开始 -->
<!-- sql任务开始 -->
{% else %}
    <li>
        <i class="fa fa-wrench bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.create_date.time }}</span>
            <h3 class="timeline-header"><a href="#">SQL申请详情</a></h3>
            <div class="timeline-body" id="task_body_id">
                <h4>数据库配置:</h4>
                    <p>名称: {{ sql_conf.name }}</p>
                    <p>真实IP: {{ sql_conf.host }} 端口:{{ sql_conf.port }}</p>
                <h4>sql申请内容:</h4>
                    <p>SQL文件: <a href="{% url 'sql_download' df.id %}" class="btn btn-info" download="{{ df.filename }}">{{ df.filename }}<i class="fa fa-cloud-download" aria-hidden="true"></i></a></p>
                    <p>MD5值: {{ df.md5value }}</p>
                    <p>申请人填写MD5值: {{ df.md5user }}</p>
                {% if df.dangerous %}
                    <p>匹配到危险语句: {{ df.keyword }}</p>
                {% endif %}
            </div>
        </div>
    </li>
<!-- sql任务结束 -->
{% endif %}

<!--审核任务开始 -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-users bg-aqua"></i>
        
        <div class="timeline-item">
            
            <h3 class="timeline-header"><a href="#">任务审核情况</a></h3>
            <div class="timeline-body">
            {% for k,v in res.items %}
                {% if v.status == "该组已通过" %}
                <div class="btn btn-app bg-olive" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-check"></i></span></div>
                
                {% elif v.status == "该组未通过" %}
                <div class="btn btn-app bg-close" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-times"></i></span></div>
                {% else %}
                <div class="btn btn-app bg-default" id="demo_{{ k }}" onmouseover="mouseOver('{{ k }}')" onmouseout="mouseOut()"><h4 class="text-black">{{ k }}</h4><span class="badge bg-blue"><i class="fa fa-pause"></i></span></div>
                {% endif %}
                <div id="text_{{ k }}" hidden="hidden">{% for i in v.member %}{{ i.name }}: {% if i.isaudit %}{% if i.ispass %}已通过{% else %}未通过{% endif %}{% else %}未审核{% endif %} 时间：{{ i.time }} @{% endfor %}</div>
            {% endfor %}
            </div>
        </div>
        
    </li>
<!--审核任务结束-->


<!-- 日志开始 -->
{% if df.islog %}
    <li class="time-label">
        <span class="bg-green">
            {{ data.end_date.date }}
        </span>
    </li>
    <li>
        <!-- timeline icon -->
        <i class="fa fa-file-text-o bg-purple"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ data.end_date.time }}</span>

            <h3 class="timeline-header"><a href="#">日志</a></h3>

            <div class="timeline-body" id="log_body_id">
                <h4>内容:</h4>
                    <pre class="text-success">{{ dflog }}</pre>
            </div>
        </div>
    </li>
{% endif %}
<!-- 日志结束 -->
<!-- 任务有效结束 -->

    <li>
        <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>



</div>
</div>
<script src="/static/js/readmore.min.js"></script>
<script type="text/javascript">
    function mouseOver(id) {
        var comment = $("#text_"+id).text();
        var comment = comment.replace(/@/g,'<br>')

        // alert(comment)

        layer.tips(comment,"#demo_"+id,{tips: [1,'#78BA32'],time: 0,area: '250px'});
    }
    function mouseOut() {
        layer.closeAll();
    }
</script>


<script type="text/javascript">
    $('#task_body_id').readmore({
        moreLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>',
        lessLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>'
    })
    $('#log_body_id').readmore({
        moreLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>',
        lessLink: '<div class="timeline-footer"><a class="btn btn-primary btn-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>'
    })
</script>


{% endblock %}