{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} SQL申请{% endblock %}

{% block head %} 
<!-- <link rel="stylesheet" href="/static/css/from_cs/jquery.validator.css">
<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>
<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script> -->
{% endblock %}



{% block content %}
<div class="row col-lg-12">
    <div class="box">
        <div class="box-body">
            {% for i in data %}
                <div class="col-md-3 col-xs-4" id="demo_{{ i.id }}" onmouseover="mouseOver('{{ i.id }}')" onmouseout="mouseOut()">
                    <a href="{% url 'sql_apply_add' i.id %}" class="btn btn-app bg-purple">
                        {{ i.name }}<br>{% if i.cluster %}{% if i.pub_vip %}IP:{{ i.pub_vip }}{% else %}IP:{{ i.local_vip }}{% endif %}<span class="badge bg-green">{{ i.vip_port }}</span>{% else %}IP:{{ i.master_node }}<span class="badge bg-green">{{ i.port }}</span>{% endif %}
                    </a>
                </div>
                <div id="text_{{ i.id }}" hidden="hidden">{% if i.pub_vip %}公网VIP:{{ i.pub_vip }}端口:{{ i.vip_port }}@{% endif %}{% if i.local_vip %}内网VIP:{{ i.local_vip }}端口:{{ i.vip_port }}@{% endif %}{% if i.cluster %}集群节点:{{ i.slave_node }}@主节点:{{ i.master_node }}端口:{{ i.port }}{% else %}主节点:{{ i.master_node }}端口:{{ i.port }}{% endif %}</div>
            {% endfor %}
        </div>
    </div>
</div>



<script type="text/javascript">
function mouseOver(id) {
    var comment = $("#text_"+id).text();
    var comment = comment.replace(/@/g,'<br>')

    // alert(comment)

    var index = layer.tips(comment,"#demo_"+id,{tips: [1,'#78BA32'],time: 0,area: '250px'});
};
function mouseOut(index) {
    layer.closeAll('tips');
};
</script>

<script type="text/javascript">
$('.bg-purple').on("click",function(event){
    var url= $(this).attr("href");
    var height = $(window).height();
    layer.open({
        type: 2,
        title: 'SQL执行申请',
        maxmin: false,
        shade: 0.5,
        shadeClose: true, //点击遮罩关闭层
        area : ['900px' , (height - 50) + 'px'],
        content: url
    });
    event.preventDefault();
});
</script>
{% endblock  %}