{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} Plus Audit Users {% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}


{% block assistant-header %} 
    <h4>审核人</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#"> sql conf list </a></li>
    </ol>
{% endblock %}



{% block content %}
  <div class="box box-info">
        <div class="box-header"><a href="{% url 'sql_conf_add' %}" class="pull-right btn btn-info"><i class="fa fa-plus"></i>添加</a></div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>Host</th>
                    <th>Port</th>
                    <th>User</th>
                    <th>状态</th>
                    <th>文件存放目录</th>
                    <th>申请组</th>
                    <th>审核组</th>
                    <th>危险语句审核组</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in data %}
                    <tr>
                        <td>{{ v.name }}</td>
                        <td>{{ v.host }}</td>
                        <td>{{ v.port }}</td>
                        <td>{{ v.user }}</td>
                        <td>
                            {% if v.status %}可用{% else %}不可用{% endif %}
                            <a class="btn btn-xs btn-primary status" href="{% url 'sql_conf_check_status' v.id %}" title="检测"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </td>
                        <td>{{ v.workdir }}</td>
                        <td>{{ v.apply_group }}</td>
                        <td>{{ v.group }}</td>
                        <td>{{ v.group_ops }}</td>
                        <td>
                            <a href="{% url 'sql_conf_modify' v.id %}" class="btn btn-xs btn-primary tools-edit">修改</a>
                            <a href="{% url 'sql_conf_delete' v.id %}" class="btn btn-xs btn-danger tools-delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
  </div>

<script type="text/javascript">
  $(function () {
    $("#example1").DataTable();
  });

$(".tools-delete").on("click",function(de){
    var url= $(this).attr("href");
    layer.alert("确定删除吗？",{
        skin: 'layui-layer-molv',
        closeBtn: 2,
        shift: 4,
    },function(index){
        layer.close(index);
        $.get(url).done(function(data) {
            window.location.reload();
        });
    });
    de.preventDefault();
});


$(".tools-edit").on("click", function(event){
     var url= $(this).attr("href");
     var height = $(window).height();
     // layer.msg('Hello layer');
        layer.open({
            type: 2,
            title: '修改信息',
            maxmin: true,
            shade: 0.5,
            shadeClose: true, //点击遮罩关闭层
            area : ['700px' , '600px'],
            end : function () {
              location.reload();
          },
            content: url
        });
     event.preventDefault();
});

$(".status").on("click",function(event){
    event.preventDefault();
    url = $(this).attr('href');
    $.get(url,function(result){
        layer.msg(result.msg);
    })
});
</script>
{% endblock %}