{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} SQL申请{% endblock %}

{% block assistant-header %} 
    <h4>我的数据库</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="{% url 'sql_conf_list' %}"> mysql </a></li>
    </ol>

{% endblock %}


{% block content %}
<div class="row col-lg-12">
    <div class="box">
        <div class="box-body">
            {% for i in data %}
                <div class="col-md-2 col-xs-4" id="demo_{{ i.id }}" onmouseover="mouseOver('{{ i.id }}')" onmouseout="mouseOut()">
                    <a href="{% url 'sql_apply_add' i.id %}" class="btn btn-app bg-purple">
                        {{ i.name }}
                        {% if i.status %}
                            <span class="badge bg-green">可用</span>
                        {% else %}
                            <span class="badge bg-red">不可用</span>
                        {% endif %}
                    </a>
                </div>
                <div id="text_{{ i.id }}" hidden="hidden">
                真实IP:{{ i.host }}@端口:{{ i.port }}
                </div>
            {% endfor %}

        </div>
    </div>
</div>



<script type="text/javascript">
function mouseOver(id) {
    var comment = $("#text_"+id).text();
    var comment = comment.replace(/@/g,'<br>')

    // alert(comment)

    var index = layer.tips(comment,"#demo_"+id,{tips: [1,'#78BA32'],time: 0,area: '250px'});
};
function mouseOut(index) {
    layer.closeAll('tips');
};
</script>

<script type="text/javascript">
$('.bg-purple').on("click",function(event){
    var url= $(this).attr("href");
    var height = $(window).height();
    layer.open({
        type: 2,
        title: 'SQL执行申请',
        maxmin: false,
        shade: 0.5,
        scrollbar: false,
        shadeClose: true, //点击遮罩关闭层
        area : ['950px' , '800px'],
        content: url
    });
    event.preventDefault();
});
</script>
{% endblock  %}