{% extends 'default/base_layer.html' %}
{% load bootstrap %}
{% block title %} 修改sql配置{% endblock %}

{% block content %}

<div class="box">
    <form class="form-horizontal" action="" id="tools_add"  method="post" name="horizontal" role="form" autocomplete="off">
        <div class="box-header">
            <a href="javascript:;" class="btn btn-success btn-block" id="id_submit"> 确认 </a>
        </div>
        <div class="box-body">
        <div class="col-lg-12">
            {% csrf_token %}
            {{ tf.name|bootstrap_horizontal }}
            {{ tf.pub_vip|bootstrap_horizontal }}
            {{ tf.local_vip|bootstrap_horizontal }}
            {{ tf.vip_port|bootstrap_horizontal }}
            {{ tf.cluster|bootstrap_horizontal }}
            {{ tf.master_node|bootstrap_horizontal }}
            {{ tf.slave_node|bootstrap_horizontal }}
            {{ tf.user|bootstrap_horizontal }}
            {{ tf.port|bootstrap_horizontal }}
            {{ tf.password|bootstrap_horizontal }}
            {{ tf.group|bootstrap_horizontal }}
        </div>
        </div>
    </form>
</div>



<script type="text/javascript">

    $('#id_submit').on("click",function(){
        var urls= "{% url 'sql_conf_modify' sql_data.id %}";
        var form = $(this).closest("form");
        $.ajax({
            url:urls,
            dataType: 'json',
            type: 'POST',
            data: form.serialize(),
            success: function(data) { 
                if (data.res == "OK") {
                    parent.layer.closeAll();
                }
            },
        });
    });
</script>


{% endblock  %}