{% extends 'default/base.html' %}
{% load bootstrap %}

{% block title %} Plus Audit Users {% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/admin-test/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/admin-test/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin-test/plugins/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}


{% block assistant-header %} 
    <h4>审核人</h4>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li><a href="#"> sql conf list </a></li>
    </ol>
{% endblock %}



{% block content %}
  <div class="box box-info">
        <div class="box-header"><a href="{% url 'sql_conf_add' %}" class="pull-right btn btn-info"><i class="fa fa-plus"></i>添加</a></div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>公网VIP</th>
                    <th>内网VIP</th>
                    <th>VIP端口</th>
                    <th>主节点IP</th>
                    <th>是否集群</th>
                    <th>从节点IP</th>
                    <th>用户名</th>
                    <th>端口</th>
                    <th>密码</th>
                    <th>所属组</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in data %}
                    <tr>
                        <td>{{ v.name }}</td>
                        <td>{{ v.pub_vip }}</td>
                        <td>{{ v.local_vip }}</td>
                        <td>{{ v.vip_port }}</td>
                        <td>{{ v.master_node }}</td>
                        <td>{% if v.cluster %}集群{% else %}单点{% endif %}</td>
                        <td>{{ v.slave_node }}</td>
                        <td>{{ v.user }}</td>
                        <td>{{ v.port }}</td>
                        <td>{{ v.password }}</td>
                        <td>{{ v.group }}</td>
                        <td>
                            <a href="{% url 'sql_conf_modify' v.id %}" class="btn btn-xs btn-primary tools-edit">修改</a>
                            <a href="{% url 'sql_conf_delete' v.id %}" class="btn btn-xs btn-danger tools-delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
  </div>

<script type="text/javascript">
  $(function () {
    $("#example1").DataTable();
  });

$(".tools-delete").on("click",function(de){
    var url= $(this).attr("href");
    layer.alert("确定删除吗？",{
        skin: 'layui-layer-molv',
        closeBtn: 2,
        shift: 4,
    },function(index){
        layer.close(index);
        $.get(url).done(function(data) {
            window.location.reload();
        });
    });
    de.preventDefault();
});


$(".tools-edit").on("click", function(event){
     var url= $(this).attr("href");
     var height = $(window).height();
     // layer.msg('Hello layer');
        layer.open({
            type: 2,
            title: '修改信息',
            maxmin: true,
            shade: 0.5,
            shadeClose: true, //点击遮罩关闭层
            area : ['900px' , (height - 50) + 'px'],
            end : function () {
              location.reload();
          },
            content: url
        });
     event.preventDefault();
});

</script>
{% endblock %}